*.log
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
.env
public/compiled/
Partner-Event.html
Partner-Promo.html
TODO.txt

locale/
!locale/en_US/*
!locale/localeinfo.json

event-stats.json
