{% extends "views/layout.html" %}
{% block title %} Maker Party - History {% endblock %}

{% block bodyOpen %}<body class="history">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Home") }}</a></li>
  <li><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li class="active"><a href="/history">{{ gettext("History") }}</a></li>
  <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("History") }}</h1>
          <p class="lead">{{ gettext("History Desc") }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div id="snapshot-2013" class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="https://blog.webmaker.org/maker-party-by-the-numbers"><img src="img/blog/makerparty-heatmap.png" /></a>
        </div>
        <div class="col-md-6">
          <h1>{{ gettext("Snapshot of Maker Party 2013") }}</h1>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 1") }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 2") }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 3") | safe }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 4") | safe }}</p>
          <div class="blog-read-more"><a href="https://blog.webmaker.org/maker-party-by-the-numbers">{{ gettext("Read the full blog post") }}</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Maker Party 2013 Blog Posts") }}</h1>
        </div>
      </div>
      <div class="row blog-row" id="first-blog-row">
        <div class="blog-post" id="blog-1">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/reports-from-maker-party-2013"><img src="img/blog/blog1.png" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 1") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 1 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/reports-from-maker-party-2013">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/maker-parties-in-asia"><img src="img/blog/blog2.png" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 2") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 2 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/maker-parties-in-asia">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
      <div class="row blog-row">
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/jamboree-maker-party"><img src="img/blog/blog3.png" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 3") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 3 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/jamboree-maker-party">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/babymaker"><img src="img/blog/blog4.png" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 4") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 4 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/babymaker">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
      <div class="row blog-row">
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/nyc-makery"><img src="img/blog/blog5.png" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 5") }}</h3>
            <p class="blog-date">{{ gettext("Blog 5 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 5 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/nyc-makery">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/hack-n-chat"><img src="img/blog/blog6.png" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 6") }}</h3>
            <p class="blog-date">{{ gettext("Blog 6 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 6 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/hack-n-chat">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section past-partners-list">
    <div class="container top-spacing">
      <div class="row">
        <div class="col-md-12">
          <div class="top-left-corner circle-corner"></div>
          <div class="top-right-corner circle-corner"></div>
        </div>
      </div>
    </div>
    <div class="outer-wrapper header">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center content">
            <h2>{{ gettext("Past Partners") }}</h2>
            <h4>{{ gettext("Past Partners Desc") }}</h4>
          </div>
        </div>
      </div>
      <div class="fold-in-left"></div>
      <div class="fold-in-right"></div>
    </div>
    <div class="container the-list">
      <div class="row" id="the-list-row">
        <div class="col-md-4">
          <ul class="list list-inset sublist-1">
            <li><a href="http://aws.amazon.com/education/">{{ gettext("Amazon") }}</a></li>
            <li><a href="http://www.appsforgood.org/">{{ gettext("Apps for Good") }}</a></li>
            <li><a href="http://bankstreet.edu/">{{ gettext("Bank Street College") }}</a></li>
            <li><a href="http://www.bareconductive.com/">{{ gettext("Bare conductive") }}</a></li>
            <li><a href="http://www.blackgirlscode.com/">{{ gettext("Black Girls Code") }}</a></li>
            <li><a href="http://www.bgccan.com/EN/Pages/default.aspx">{{ gettext("Boys and Girls Clubs of Canada") }}</a></li>
            <li><a href="http://bristolgameshub.com/">{{ gettext("Bristol Games Hub") }}</a></li>
            <li><a href="http://www.bklynpubliclibrary.org/">{{ gettext("Brooklyn Public Library") }}</a></li>
            <li><a href="http://www.burberryplc.com/corporate_responsibility/burberry_foundation">{{ gettext("Burberry Foundation") }}</a></li>
            <li><a href="http://careermash.ca/">{{ gettext("CareerMash") }}</a></li>
            <li><a href="http://www.calacademy.org/">{{ gettext("California Academy of Sciences") }}</a></li>
            <li><a href="http://www.codecademy.com/">{{ gettext("Codecademy") }}</a></li>
            <li><a href="http://codeclub.org.uk/">{{ gettext("Code Club") }}</a></li>
            <li><a href="http://m2l.indiana.edu">{{ gettext("Creativity Labs at Indiana University") }}</a></li>
            <li><a href="http://decoded.co/">{{ gettext("Decoded") }}</a></li>
            <li><a href="https://diy.org/">{{ gettext("DIY.org") }}</a></li>
            <li><a href="http://www.e-skills.com/">{{ gettext("E-Skills") }}</a></li>
            <li><a href="http://www.everyoneon.org/about-us">{{ gettext("EveryoneOn / Connect2Compete") }}</a></li>
            <li><a href="http://exposurecamp.org/">{{ gettext("Exposure Camp") }}</a></li>
            <li><a href="http://www.eyebeam.org/">{{ gettext("Eyebeam") }}</a></li>
            <li><a href="http://www.remixthecity.com/">{{ gettext("FabSpaces") }}</a></li>
            <li><a href="http://www.ischool.utoronto.ca/">{{ gettext("Faculty of Information University of Toronto") }}</a></li>
            <li><a href="http://www.firetechcamp.com/">{{ gettext("Fire Tech Camp") }}</a></li>
            <li><a href="http://www.freeformers.com/">{{ gettext("Freeformers") }}</a></li>
            <li><a href="http://gamesbritannia.com/">{{ gettext("Games Britannia") }}</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list list-inset sublist-2">
            <li><a href="http://girlslearningcode.com/events">{{ gettext("Girls Learning Code and Kids Learning Code") }}</a></li>
            <li><a href="http://www.girlscoutsgcnwi.org/">{{ gettext("Girl Scouts of Greater Chicago and Northwest Indiana") }}</a></li>
            <li><a href="http://good.is/neighboring">{{ gettext("Good") }}</a></li>
            <li><a href="http://http://www.grablefdn.org/">{{ gettext("The Grable Foundation") }}</a></li>
            <li><a href="http://www.homeroom.org.uk/">{{ gettext("HomeRoom") }}</a></li>
            <li><a href="http://imagication.org.uk/">{{ gettext("Imagication") }}</a></li>
            <li><a href="http://www.imls.gov/">{{ gettext("IMLS") }}</a></li>
            <li><a href="http://www.intel.com/content/www/us/en/education/intel-in-education.html">{{ gettext("Intel") }}</a></li>
            <li><a href="http://www.jagex.com/">{{ gettext("Jagex") }}</a></li>
            <li><a href="http://www.kauffman.org/">{{ gettext("Kauffman Foundation") }}</a></li>
            <li><a href="http://www.zsl.org/zsl-london-zoo/">{{ gettext("London Zoo/Edge of Existence") }}</a></li>
            <li><a href="http://madlab.org.uk/">{{ gettext("MadLab") }}</a></li>
            <li><a href="https://www.makewav.es/">{{ gettext("Make Waves") }}</a></li>
            <li><a href="http://makered.org/">{{ gettext("Maker Education Initiative") }}</a></li>
            <li><a href="http://www.marsdd.com/futureleaders">{{ gettext("MaRS Discover") }}</a></li>
            <li><a href="http://www.media.mit.edu/">{{ gettext("MIT Media Lab") }}</a></li>
            <li><a href="http://mouse.org/">{{ gettext("MOUSE") }}</a></li>
            <li><a href="http://www.mozilla.org/">{{ gettext("Mozilla") }}</a></li>
            <li><a href="http://digitalis.nwp.org">{{ gettext("National Writing Project") }}</a></li>
            <li><a href="http://www.nysci.org/">{{ gettext("New York Hall of Science") }}</a></li>
            <li><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">{{ gettext("NYC Summer Quest: NYC Department of Education") }}</a></li>
            <li><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">{{ gettext("NYC Summer Quest: NYC Department of Youth and Community Development") }}</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list list-inset sublist-3">
            <li><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">{{ gettext("NYC Summer Quest: Fund for Public Schools") }}</a></li>
            <li><a href="http://www.o2thinkbig.co.uk/">{{ gettext("O2 Think Big") }}</a></li>
            <li><a href="https://2013.pycon.ca/en/">{{ gettext("PyCon Canada") }}</a></li>
            <li><a href="http://www.reelworks.org/rw/">{{ gettext("Reel Works") }}</a></li>
            <li><a href="http://www.joanganzcooneycenter.org/">{{ gettext("Sesame Workshop: Joan Ganz Cooney Centre") }}</a></li>
            <li><a href="http://skillcrush.com/">{{ gettext("Skillcrush") }}</a></li>
            <li><a href="http://www.stardoll.com/en/">{{ gettext("StarDoll") }}</a></li>
            <li><a href="http://techmixmag.com/magazine">{{ gettext("TechMix") }}</a></li>
            <li><a href="http://www.technocamps.com/">{{ gettext("TechnoCamps") }}</a></li>
            <li><a href="http://technologywillsaveus.org/">{{ gettext("Technology Will Save Us") }}</a></li>
            <li><a href="http://www.teentechevent.com/">{{ gettext("TeenTech") }}</a></li>
            <li><a href="http://www.expandedschools.org/">{{ gettext("The After School Corporation (TASC)") }}</a></li>
            <li><a href="http://sproutfund.org">{{ gettext("The Sprout Fund") }}</a></li>
            <li><a href="http://www.textilemuseum.ca/apps/index.cfm?page=program.detail&programEventId=217&areaId=9">{{ gettext("The Textile Museum of Canada") }}</a></li>
            <li><a href="http://www.tiff.net/summercamp">{{ gettext("TIFF") }}</a></li>
            <li><a href="http://www.telecentre.org/">{{ gettext("Telecentre.org") }}</a></li>
            <li><a href="http://www.thirteen.org/edonline/">{{ gettext("WNET / Thirteen.org") }}</a></li>
            <li><a href="https://youngrewiredstate.org/">{{ gettext("Young Rewired State") }}</a></li>
            <li><a href="http://www.ymcanyc.org/">{{ gettext("YMCA NYC") }}</a></li>
            <li><a href="https://www.ywcatoronto.org/page.asp?l1=54&pid=160">{{ gettext("YWCA Toronto") }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container bottom-spacing">
      <div class="row">
        <div class="col-md-12">
          <div class="bottom-left-corner circle-corner"></div>
          <div class="bottom-right-corner circle-corner"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

