{% extends "views/layout.html" %}
{% set page = "history" %}

{% block title %} Maker Party - History {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("History") }}</h1>
          <p class="lead">{{ gettext("History Desc") }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div id="snapshot-2013" class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="/img/blog/makerparty-heatmap.png" class="infographic"><img src="/img/blog/makerparty-heatmap.png" alt="{{ gettext('2013 Maker Party Heatmap image') }}" /></a>
        </div>
        <div class="col-md-6">
          <h1>{{ gettext("Snapshot of Maker Party 2013") }}</h1>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 1") }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 2") | safe }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 3") | safe }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 4") }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 5") | safe }}</p>
          <div class="blog-read-more"><a href="https://blog.webmaker.org/maker-party-by-the-numbers">{{ gettext("Read the full blog post") }}</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Maker Party History") }}</h2>
          <p>{{ gettext("Maker Party History Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="collage">
            <div class="collage-row">
              <a class="collage-pics" href="/img/collage/full-1.jpg"><img src="/img/collage/1.jpg" alt="{{ gettext('Maker Party Collage Photo 1') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-2.jpg"><img src="/img/collage/2.jpg" alt="{{ gettext('Maker Party Collage Photo 2') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-3.jpg"><img src="/img/collage/3.jpg" alt="{{ gettext('Maker Party Collage Photo 3') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-4.jpg"><img src="/img/collage/4.jpg" alt="{{ gettext('Maker Party Collage Photo 4') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-5.jpg"><img src="/img/collage/5.jpg" alt="{{ gettext('Maker Party Collage Photo 5') }}" /></a>
            </div>
            <div class="collage-row">
              <a class="collage-pics" href="/img/collage/full-6.jpg"><img src="/img/collage/6.jpg" alt="{{ gettext('Maker Party Collage Photo 6') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-7.jpg"><img src="/img/collage/7.jpg" alt="{{ gettext('Maker Party Collage Photo 7') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-8.jpg"><img src="/img/collage/8.jpg" alt="{{ gettext('Maker Party Collage Photo 8') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-9.jpg"><img src="/img/collage/9.jpg" alt="{{ gettext('Maker Party Collage Photo 9') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-10.jpg"><img src="/img/collage/10.jpg" alt="{{ gettext('Maker Party Collage Photo 10') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-11.jpg"><img src="/img/collage/11.jpg" alt="{{ gettext('Maker Party Collage Photo 11') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-12.jpg"><img src="/img/collage/12.jpg" alt="{{ gettext('Maker Party Collage Photo 12') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-13.jpg"><img src="/img/collage/13.jpg" alt="{{ gettext('Maker Party Collage Photo 13') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-14.jpg"><img src="/img/collage/14.jpg" alt="{{ gettext('Maker Party Collage Photo 14') }}" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Maker Party 2013 Blog Posts") }}</h1>
        </div>
      </div>
      <div class="row blog-row" id="first-blog-row">
        <div class="blog-post" id="blog-1">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/reports-from-maker-party-2013"><img src="/img/blog/blog1.png" alt="{{ gettext('Blog 1 thumbnail image') }}"/></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 1") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 1 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/reports-from-maker-party-2013">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/maker-parties-in-asia"><img src="/img/blog/blog2.png" alt="{{ gettext('Blog 2 thumbnail image') }}" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 2") }}</h3>
            <p class="blog-date">{{ gettext("Blog 2 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 2 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/maker-parties-in-asia">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
      <div class="row blog-row">
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/jamboree-maker-party"><img src="/img/blog/blog3.png" alt="{{ gettext('Blog 3 thumbnail image') }}" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 3") }}</h3>
            <p class="blog-date">{{ gettext("Blog 3 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 3 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/jamboree-maker-party">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/babymaker"><img src="/img/blog/blog4.png" alt="{{ gettext('Blog 4 thumbnail image') }}" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 4") }}</h3>
            <p class="blog-date">{{ gettext("Blog 4 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 4 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/babymaker">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
      <div class="row blog-row">
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/nyc-makery"><img src="/img/blog/blog5.png" alt="{{ gettext('Blog 5 thumbnail image') }}" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 5") }}</h3>
            <p class="blog-date">{{ gettext("Blog 5 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 5 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/nyc-makery">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3 col-sm-2">
            <a href="https://blog.webmaker.org/hack-n-chat"><img src="/img/blog/blog6.png" alt="{{ gettext('Blog 6 thumbnail image') }}" /></a>
          </div>
          <div class="col-md-3 col-sm-4">
            <h3>{{ gettext("Blog 6") }}</h3>
            <p class="blog-date">{{ gettext("Blog 6 Date") }}</p>
            <p class="blog-excerpt">{{ gettext("Blog 6 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/hack-n-chat">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section past-partners-list">
    <div class="container top-spacing">
      <div class="row">
        <div class="col-md-12">
          <div class="top-left-corner circle-corner"></div>
          <div class="top-right-corner circle-corner"></div>
        </div>
      </div>
    </div>
    <div class="outer-wrapper header">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center content">
            <h2>{{ gettext("Past Partners") }}</h2>
            <h4>{{ gettext("Past Partners Desc") }}</h4>
          </div>
        </div>
      </div>
      <div class="fold-in-left"></div>
      <div class="fold-in-right"></div>
    </div>
    <div class="container the-list">
      <div class="row" id="the-list-row">
        <div class="col-md-4">
          <ul class="list list-inset sublist-1">
            <li><a href="http://aws.amazon.com/education/">Amazon</a></li>
            <li><a href="http://www.appsforgood.org/">Apps for Good</a></li>
            <li><a href="http://bankstreet.edu/">Bank Street College</a></li>
            <li><a href="http://www.bareconductive.com/">Bare conductive</a></li>
            <li><a href="http://www.blackgirlscode.com/">Black Girls Code</a></li>
            <li><a href="http://www.bgccan.com/EN/Pages/default.aspx">Boys and Girls Clubs of Canada</a></li>
            <li><a href="http://bristolgameshub.com/">Bristol Games Hub</a></li>
            <li><a href="http://www.bklynpubliclibrary.org/">Brooklyn Public Library</a></li>
            <li><a href="http://www.burberryplc.com/corporate_responsibility/burberry_foundation">Burberry Foundation</a></li>
            <li><a href="http://careermash.ca/">CareerMash</a></li>
            <li><a href="http://www.calacademy.org/">California Academy of Sciences</a></li>
            <li><a href="http://www.codecademy.com/">Codecademy</a></li>
            <li><a href="http://codeclub.org.uk/">Code Club</a></li>
            <li><a href="http://m2l.indiana.edu">Creativity Labs at Indiana University</a></li>
            <li><a href="http://decoded.co/">Decoded</a></li>
            <li><a href="https://diy.org/">DIY.org</a></li>
            <li><a href="http://www.e-skills.com/">E-Skills</a></li>
            <li><a href="http://www.everyoneon.org/about-us">EveryoneOn / Connect2Compete</a></li>
            <li><a href="http://exposurecamp.org/">Exposure Camp</a></li>
            <li><a href="http://www.eyebeam.org/">Eyebeam</a></li>
            <li><a href="http://www.remixthecity.com/">FabSpaces</a></li>
            <li><a href="http://www.ischool.utoronto.ca/">Faculty of Information University of Toronto</a></li>
            <li><a href="http://www.firetechcamp.com/">Fire Tech Camp</a></li>
            <li><a href="http://www.freeformers.com/">Freeformers</a></li>
            <li><a href="http://gamesbritannia.com/">Games Britannia</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list list-inset sublist-2">
            <li><a href="http://girlslearningcode.com/events">Girls Learning Code and Kids Learning Code</a></li>
            <li><a href="http://www.girlscoutsgcnwi.org/">Girl Scouts of Greater Chicago and Northwest Indiana</a></li>
            <li><a href="http://good.is/neighboring">Good</a></li>
            <li><a href="http://http://www.grablefdn.org/">The Grable Foundation</a></li>
            <li><a href="http://www.homeroom.org.uk/">HomeRoom</a></li>
            <li><a href="http://imagication.org.uk/">Imagication</a></li>
            <li><a href="http://www.imls.gov/">IMLS</a></li>
            <li><a href="http://www.intel.com/content/www/us/en/education/intel-in-education.html">Intel</a></li>
            <li><a href="http://www.jagex.com/">Jagex</a></li>
            <li><a href="http://www.kauffman.org/">Kauffman Foundation</a></li>
            <li><a href="http://www.zsl.org/zsl-london-zoo/">London Zoo/Edge of Existence</a></li>
            <li><a href="http://madlab.org.uk/">MadLab</a></li>
            <li><a href="https://www.makewav.es/">Make Waves</a></li>
            <li><a href="http://makered.org/">Maker Education Initiative</a></li>
            <li><a href="http://www.marsdd.com/futureleaders">MaRS Discover</a></li>
            <li><a href="http://www.media.mit.edu/">MIT Media Lab</a></li>
            <li><a href="http://mouse.org/">MOUSE</a></li>
            <li><a href="http://www.mozilla.org/">Mozilla</a></li>
            <li><a href="http://digitalis.nwp.org">National Writing Project</a></li>
            <li><a href="http://www.nysci.org/">New York Hall of Science</a></li>
            <li><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: NYC Department of Education</a></li>
            <li><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: NYC Department of Youth and Community Development</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list list-inset sublist-3">
            <li><a href="https://www.fundforpublicschools.org/nyc-summer-quest-highlights">NYC Summer Quest: Fund for Public Schools</a></li>
            <li><a href="http://www.o2thinkbig.co.uk/">O2 Think Big</a></li>
            <li><a href="https://2013.pycon.ca/en/">PyCon Canada</a></li>
            <li><a href="http://www.reelworks.org/rw/">Reel Works</a></li>
            <li><a href="http://www.joanganzcooneycenter.org/">Sesame Workshop: Joan Ganz Cooney Centre</a></li>
            <li><a href="http://skillcrush.com/">Skillcrush</a></li>
            <li><a href="http://www.stardoll.com/en/">StarDoll</a></li>
            <li><a href="http://techmixmag.com/magazine">TechMix</a></li>
            <li><a href="http://www.technocamps.com/">TechnoCamps</a></li>
            <li><a href="http://technologywillsaveus.org/">Technology Will Save Us</a></li>
            <li><a href="http://www.teentechevent.com/">TeenTech</a></li>
            <li><a href="http://www.expandedschools.org/">The After School Corporation (TASC)</a></li>
            <li><a href="http://sproutfund.org">The Sprout Fund</a></li>
            <li><a href="http://www.textilemuseum.ca/apps/index.cfm?page=program.detail&programEventId=217&areaId=9">The Textile Museum of Canada</a></li>
            <li><a href="http://www.tiff.net/summercamp">TIFF</a></li>
            <li><a href="http://www.telecentre.org/">Telecentre.org</a></li>
            <li><a href="http://www.thirteen.org/edonline/">WNET / Thirteen.org</a></li>
            <li><a href="https://youngrewiredstate.org/">Young Rewired State</a></li>
            <li><a href="http://www.ymcanyc.org/">YMCA NYC</a></li>
            <li><a href="https://www.ywcatoronto.org/page.asp?l1=54&pid=160">YWCA Toronto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container bottom-spacing">
      <div class="row">
        <div class="col-md-12">
          <div class="bottom-left-corner circle-corner"></div>
          <div class="bottom-right-corner circle-corner"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

