{% extends "views/layout.html" %}
{% block title %} Maker Party - History {% endblock %}

{% block bodyOpen %}<body class="history">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Maker Party") }}</a></li>
  <li><a href="https://events.webmaker.org">{{ gettext("Events") }}</a></li>
  <li><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li class="active"><a href="/history">{{ gettext("History") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>{{ gettext("History") }}</h1>
          <p class="lead">{{ gettext("History Desc") }}</p>
        </div>
        <div class="col-md-8">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div id="snapshot-2013" class="big-section">
    <div class="container">
      <divclass="row">
        <div class="col-md-6">
          <img src="img/blog/makerparty-heatmap.png" />
        </div>
        <div class="col-md-6">
          <h1>{{ gettext("Snapshot of Maker Party 2013") }}</h1>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 1") }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 2") }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 3") | safe }}</p>
          <p>{{ gettext("Snapshot of Maker Party 2013 Paragraph 4") | safe }}</p>
          <div class="blog-read-more"><a href="https://blog.webmaker.org/maker-party-by-the-numbers">{{ gettext("Read the full blog post") }}</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Maker Party 2013 Blog Posts") }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="blog-post">
          <div class="col-md-3">
            <img src="img/blog/blog1.png" />
          </div>
          <div class="col-md-3">
            <h3>{{ gettext("Blog 1") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p>{{ gettext("Blog 1 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/reports-from-maker-party-2013">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3">
            <img src="img/blog/blog2.png" />
          </div>
          <div class="col-md-3">
            <h3>{{ gettext("Blog 2") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p>{{ gettext("Blog 2 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/maker-parties-in-asia">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="blog-post">
          <div class="col-md-3">
            <img src="img/blog/blog3.png" />
          </div>
          <div class="col-md-3">
            <h3>{{ gettext("Blog 3") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p>{{ gettext("Blog 3 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/jamboree-maker-party">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3">
            <img src="img/blog/blog4.png" />
          </div>
          <div class="col-md-3">
            <h3>{{ gettext("Blog 4") }}</h3>
            <p class="blog-date">{{ gettext("Blog 1 Date") }}</p>
            <p>{{ gettext("Blog 4 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/babymaker">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="blog-post">
          <div class="col-md-3">
            <img src="img/blog/blog5.png" />
          </div>
          <div class="col-md-3">
            <h3>{{ gettext("Blog 5") }}</h3>
            <p class="blog-date">{{ gettext("Blog 5 Date") }}</p>
            <p>{{ gettext("Blog 5 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/nyc-makery">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
        <div class="blog-post">
          <div class="col-md-3">
            <img src="img/blog/blog6.png" />
          </div>
          <div class="col-md-3">
            <h3>{{ gettext("Blog 6") }}</h3>
            <p class="blog-date">{{ gettext("Blog 6 Date") }}</p>
            <p>{{ gettext("Blog 6 Desc") }}</p>
            <div class="blog-read-more"><a href="https://blog.webmaker.org/hack-n-chat">{{ gettext("Read more") }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

