{% extends "views/layout.html" %}
{% set page = "home" %}

{% block title %} Maker Party - Home {% endblock %}

{% block customStyles %}
  <link href="/lib/elastislide/css/elastislide.css" rel="stylesheet" />
  <link href="/lib/elastislide/css/custom.css" rel="stylesheet" />
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="home-banner-video">
            <iframe width="853" height="480" src="//www.youtube.com/embed/oko6TzPQE6Y" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h1>{{ gettext("Teach, Learn & Make") }}</h1>
          <p class="lead">{{ gettext("Home Banner Desc") }}</p>
          <div class="cta-button-container">
            <p>
              <a class="btn btn-banner btn-mp-green btn-lg" href="https://events.webmaker.org">
                {{ gettext("Attend an Event") }}
              </a>
              <a class="btn btn-banner btn-mp-green btn-lg" href="/{{localeInfo.lang}}/resources">
                {{ gettext("Host an Event") }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section how-mp-work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>{{ gettext("How does Maker Party work?") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 modules">
          <a href="/{{localeInfo.lang}}/resources"><img src="/img/makerparty_hostanevent_illustration.png" alt="{{ gettext('Maker Party Host An Event Illustration') }}" /></a>
          <h3><a href="/{{localeInfo.lang}}/resources">{{ gettext("Host an Event") }}</a></h3>
          <p>{{ gettext("Host an Event Desc") }}</p>
        </div>
        <div class="col-md-4 col-sm-4 modules">
          <a href="https://events.webmaker.org" target="_blank"><img src="/img/makerparty_attendanevent_illustration2.png" alt="{{ gettext('Maker Party Attend An Event Illustration') }}" /></a>
          <h3><a href="https://events.webmaker.org" target="_blank">{{ gettext("Attend an Event") }}</a></h3>
          <p>{{ gettext("Attend an Event Desc") | safe }}</p>
        </div>
        <div class="col-md-4 col-sm-4 modules">
          <a href="/{{localeInfo.lang}}/resources"><img src="/img/makerparty_getsupport_illustration.png" alt="{{ gettext('Maker Party Get Support Illustration') }}" /></a>
          <h3><a href="/{{localeInfo.lang}}/resources">{{ gettext("Get Support") }}</a></h3>
          <p>{{ gettext("Get Support Desc") }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider">
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 big-section">
          <h2>{{ gettext("Have fun with our tools") }}</h2>
          <p>{{ gettext("Have fun with our tools Desc") | safe }}</p>
        </div>
        <div class="col-md-6 big-section">
          <h2>{{ gettext("Learn by teaching") }}</h2>
          <p>{{ gettext("Learn by teaching Desc") | safe }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider hide-on-desktop-divider">
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Images from Maker Party 2014") }}</h2>
          <p>{{ gettext("Images from Maker Party 2014 Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="flickr-carousel">
            <ul class="elastislide-list">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="big-section">
    <div class="container why-throw">
      <div class="row">
        <div class="col-md-4 col-sm-4 side-illust">
          <img src="/img/makerparty_world_illustration.png" alt="{{ gettext('Maker Party World Illustration') }}" />
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ gettext("Why Mozilla throws an annual Maker Party") }}</h2>
              <p>{{ gettext("Why Mozilla throws an annual Maker Party Desc #1") | safe }}</p>
              <p>{{ gettext("Why Mozilla throws an annual Maker Party Desc #2") | safe }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ gettext("Learn more about") }}</h3>
                </div>
              </div>
              <div class="row wordmarks">
                <div class="col-md-6 col-xs-6">
                  <a href="https://webmaker.org/"><img src="/img/webmaker_wordmark_update.png"  alt="{{ gettext('Webmaker Wordmark') }}" /></a>
                </div>
                <div class="col-md-6 col-xs-6">
                  <a href="http://www.makesummer.org/?ref=maker1"><img src="/img/MakeSummer_logo.png"  alt="Make Summer" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("See what people are saying about Maker Party") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 quote-container">
          <div class="quote">
            <img src="/img/makerparty_openquote.png" id="open-quote" alt="{{ gettext('Open Quote Illustration') }}" />
            <p class="quote-text">{{ gettext("Testimonials Quote #1") }}</p>
            <p class="quote-text">{{ gettext("Testimonials Quote #2") }}</p>
            <p class="quote-text">{{ gettext("Testimonials Quote #3") }}</p>
            <img src="/img/makerparty_closequote.png" id="close-quote" alt="{{ gettext('Close Quote Illustration') }}" />
          </div>
          <div class="quote-arrow-right"></div>
          <div class="quote-arrow-down"></div>
        </div>
        <div class="col-md-4 avatar-container">
          <div class="row">
            <div class="col-md-12">
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #1 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #1 Title") }}</span> <br />
                <a href="https://www.ywcatoronto.org/page.asp?l1=54&pid=162">{{ gettext("Testimonials Quote #1 Org") }} </a>
              </p>
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #2 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #2 Title") }}</span> <br />
                <a href="http://www.gmin.org/">{{ gettext("Testimonials Quote #2 Org") }} </a>
              </p>
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #3 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #3 Title") }}</span> <br />
                <a href="http://nysci.org/">{{ gettext("Testimonials Quote #3 Org") }} </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block customScripts %}
{% endblock %}

