{% extends "views/layout.html" %}
{% set page = "home" %}

{% block title %}Maker Party{% endblock %}

{% block customStyles %}
  <link href="/lib/elastislide/css/elastislide.css" rel="stylesheet" />
  <link href="/lib/elastislide/css/custom.css" rel="stylesheet" />
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div id="rocket">
      <img src="/img/infographic2014/illustration_rocket.png" />
    </div>
    <div class="container">
      <!-- infographic -->
      <div class="row text-center" id="infographic-2014">
        <div class="col-md-12">
          <div id="clouds">
            <div class="cloud x1"><img src="/img/infographic2014/illustration_cloud.png" /></div>
            <div class="cloud x2"><img src="/img/infographic2014/illustration_cloud.png" /></div>
            <div class="cloud x3"><img src="/img/infographic2014/illustration_cloud.png" /></div>
            <div class="cloud x4"><img src="/img/infographic2014/illustration_cloud.png" /></div>
            <div class="cloud x5"><img src="/img/infographic2014/illustration_cloud.png" /></div>
            <div class="cloud x6"><img src="/img/infographic2014/illustration_cloud.png" /></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="ribbon-container">
                 <div class="infographic-ribbon">
                   <div class="ribbon-body"><h1>{{ gettext("Maker Party 2014") }}</h1></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <!-- <h2>{{ gettext("Mozilla's Global Campaign to Teach the Web Title") }}</h2> -->
              <h2>Mozilla's Global Campaign to Teach the Web</h2>
              <!-- <p>{{ gettext("Mozilla's Global Campaign to Teach the Web Desc") }}</p> -->
              <p>Together, we united nearly 130,000 educators, organizations and enthusiastic web users with hands-on learning and web making at community-run events around the world.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <img src="/img/infographic2014/illustration_mentors_to_learners.png" class="illustration">
              <!-- <p class="stats-heading">{{ gettext("Infographic 2014 Stats Line 1") | safe }}</p> -->
              <p class="stats-heading"><span class="stats">1,036</span> mentors taught <span class="stats">127,200</span> learners</p>
            </div>
            <div class="col-md-offset-2 col-md-5">
              <img src="/img/infographic2014/illustration_webmaker_logo_flat.png" class="illustration">
              <!-- <p class="stats-heading">{{ gettext("Infographic 2014 Stats Line 2") | safe }}</p> -->
              <p class="stats-heading"><span class="stats">44,198</span> webmaker projects made</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="graphic-container">
                <!-- <p class="legend">{{ gettext("Infographic 2014 Legend") }}</p> -->
                <p class="legend"># of events per country</p>
                <img src="/img/infographic2014/heatmap2014.png">
              </div>
              <!-- <p class="stats-heading">{{ gettext("Infographic 2014 Stats Line 3") | safe }}</p> -->
              <p class="stats-heading"><span class="stats">2,513</span> events<br /> in <span class="stats">450</span> cities in <span class="stats">86</span> countries around the world</p>
            </div>
          </div>
        </div>
      </div>
      <!-- thank you note -->
      <div class="row" id="thank-you-note">
        <div class="col-md-3 col-sm-3">
          <a href="https://webmaker.org/badges/skill-sharer"><img src="/img/badge_skill_sharer.png"></a>
        </div>
        <div class="col-md-9 col-sm-9">
          <!-- <h2>{{ gettext("Thank You Note Title") }}</h2> -->
          <h2>We couldn't have done it without you</h2>
          <!-- <p>{{ gettext("Thank You Note Desc") }}</p> -->
          <p>Maker Party 2014 was a success thanks to people like you who shared a web literacy skill with someone else. Claim your Web Literacy Skill Sharer badge now to earn recognition for your effort!</p>
          <div class="text-center">
            <a class="btn btn-banner btn-mp-green btn-lg" href="https://webmaker.org/badges/skill-sharer ">
              {{ gettext("Claim Your Badge") }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section how-mp-work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>{{ gettext("How does Maker Party work?") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 modules">
          <a href="/{{localeInfo.lang}}/resources"><img src="/img/makerparty_hostanevent_illustration.png" alt="{{ gettext('Maker Party Host An Event Illustration') }}" /></a>
          <h3><a href="/{{localeInfo.lang}}/resources">{{ gettext("Host an Event") }}</a></h3>
          <p>{{ gettext("Host an Event Desc") }}</p>
        </div>
        <div class="col-md-4 col-sm-4 modules">
          <a href="https://events.webmaker.org" target="_blank"><img src="/img/makerparty_attendanevent_illustration2.png" alt="{{ gettext('Maker Party Attend An Event Illustration') }}" /></a>
          <h3><a href="https://events.webmaker.org" target="_blank">{{ gettext("Attend an Event") }}</a></h3>
          <p>{{ gettext("Attend an Event Desc") | safe }}</p>
        </div>
        <div class="col-md-4 col-sm-4 modules">
          <a href="/{{localeInfo.lang}}/resources"><img src="/img/makerparty_getsupport_illustration.png" alt="{{ gettext('Maker Party Get Support Illustration') }}" /></a>
          <h3><a href="/{{localeInfo.lang}}/resources">{{ gettext("Get Support") }}</a></h3>
          <p>{{ gettext("Get Support Desc") }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider">
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 big-section">
          <h2>{{ gettext("Have fun with our tools") }}</h2>
          <p>{{ gettext("Have fun with our tools Desc") | safe }}</p>
        </div>
        <div class="col-md-6 big-section">
          <h2>{{ gettext("Learn by teaching") }}</h2>
          <p>{{ gettext("Learn by teaching Desc") | safe }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider hide-on-desktop-divider">
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Images from Maker Party 2014") }}</h2>
          <p>{{ gettext("Images from Maker Party 2014 Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="flickr-carousel">
            <ul class="elastislide-list">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="big-section">
    <div class="container why-throw">
      <div class="row">
        <div class="col-md-4 col-sm-4 side-illust">
          <img src="/img/makerparty_world_illustration.png" alt="{{ gettext('Maker Party World Illustration') }}" />
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ gettext("Why Mozilla throws an annual Maker Party") }}</h2>
              <p>{{ gettext("Why Mozilla throws an annual Maker Party Desc #1") | safe }}</p>
              <p>{{ gettext("Why Mozilla throws an annual Maker Party Desc #2") | safe }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ gettext("Learn more about") }}</h3>
                </div>
              </div>
              <div class="row wordmarks">
                <div class="col-md-6 col-xs-6">
                  <a href="https://webmaker.org/"><img src="/img/webmaker_wordmark_update.png"  alt="{{ gettext('Webmaker Wordmark') }}" /></a>
                </div>
                <div class="col-md-6 col-xs-6">
                  <a href="http://www.makesummer.org/?ref=maker1"><img src="/img/MakeSummer_logo.png"  alt="Make Summer" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="big-section" id="testimonials-and-twitter">
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="testimonials">
          <h2>{{ gettext("See what people are saying about Maker Party") }}</h2>
          <div class="quote-container">
            <div class="quote">
              <img src="/img/makerparty_openquote.png" id="open-quote" alt="{{ gettext('Open Quote Illustration') }}" />
              <p class="quote-text">{{ gettext("Testimonials Quote #1") }}</p>
              <p class="quote-text">{{ gettext("Testimonials Quote #2") }}</p>
              <p class="quote-text">{{ gettext("Testimonials Quote #3") }}</p>
              <img src="/img/makerparty_closequote.png" id="close-quote" alt="{{ gettext('Close Quote Illustration') }}" />
            </div>
            <div class="quote-arrow-down"></div>
          </div>
          <div class="avatar-container">
            <div class="row">
              <div class="col-md-12">
                <p class="quote-source">
                  <span class="lead">{{ gettext("Testimonials Quote #1 Name") }}</span> <br />
                  <span class="job-title">{{ gettext("Testimonials Quote #1 Title") }}</span> <br />
                  <a href="https://www.ywcatoronto.org/page.asp?l1=54&pid=162">{{ gettext("Testimonials Quote #1 Org") }} </a>
                </p>
                <p class="quote-source">
                  <span class="lead">{{ gettext("Testimonials Quote #2 Name") }}</span> <br />
                  <span class="job-title">{{ gettext("Testimonials Quote #2 Title") }}</span> <br />
                  <a href="http://www.gmin.org/">{{ gettext("Testimonials Quote #2 Org") }} </a>
                </p>
                <p class="quote-source">
                  <span class="lead">{{ gettext("Testimonials Quote #3 Name") }}</span> <br />
                  <span class="job-title">{{ gettext("Testimonials Quote #3 Title") }}</span> <br />
                  <a href="http://nysci.org/">{{ gettext("Testimonials Quote #3 Org") }} </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="twitter-feeds">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23makerparty"  data-widget-id="477691708356820992" width="100%" height="500px">Tweets about "#makerparty"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="testimonials big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ gettext("See what people are saying about Maker Party") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 quote-container">
          <div class="quote">
            <img src="/img/makerparty_openquote.png" id="open-quote" alt="{{ gettext('Open Quote Illustration') }}" />
            <p class="quote-text">{{ gettext("Testimonials Quote #1") }}</p>
            <p class="quote-text">{{ gettext("Testimonials Quote #2") }}</p>
            <p class="quote-text">{{ gettext("Testimonials Quote #3") }}</p>
            <img src="/img/makerparty_closequote.png" id="close-quote" alt="{{ gettext('Close Quote Illustration') }}" />
          </div>
          <div class="quote-arrow-right"></div>
          <div class="quote-arrow-down"></div>
        </div>
        <div class="col-md-4 avatar-container">
          <div class="row">
            <div class="col-md-12">
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #1 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #1 Title") }}</span> <br />
                <a href="https://www.ywcatoronto.org/page.asp?l1=54&pid=162">{{ gettext("Testimonials Quote #1 Org") }} </a>
              </p>
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #2 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #2 Title") }}</span> <br />
                <a href="http://www.gmin.org/">{{ gettext("Testimonials Quote #2 Org") }} </a>
              </p>
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #3 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #3 Title") }}</span> <br />
                <a href="http://nysci.org/">{{ gettext("Testimonials Quote #3 Org") }} </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}

{% block customScripts %}
{% endblock %}

