{% extends "views/layout.html" %}
{% block title %} Maker Party - Home {% endblock %}

{% block bodyOpen %}<body class="home">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li class="active"><a href="/">{{ gettext("Home") }}</a></li>
  <li><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li><a href="/history">{{ gettext("History") }}</a></li>
  <li><a href="/live-updates">{{ gettext("Live Updates") }}</a></li>
  <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="home-banner-video">
            <iframe src="https://vialogues.com/videos/embedded/11183/" width="450" height="300" scrolling="No"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h1>{{ gettext("Teach, Learn & Make") }}</h1>
          <p class="lead">{{ gettext("Home Banner Desc") }}</p>
          <div class="cta-button-container">
            <p>
              <a class="btn btn-banner btn-mp-green btn-lg" href="/partners">
                {{ gettext("Become a Partner") }}
              </a>
              <a class="btn btn-banner btn-mp-green btn-lg" href="https://sendto.mozilla.org/page/s/maker-party-2014-save-the-date">
                {{ gettext("Get Updates") }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section how-mp-work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>{{ gettext("How does Maker Party work?") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 modules">
          <a href="/resources"><img src="/img/makerparty_hostanevent_illustration.png" alt="{{ gettext('Maker Party Host An Event Illustration') }}" /></a>
          <h3><a href="/resources">{{ gettext("Host an Event") }}</a></h3>
          <p>{{ gettext("Host an Event Desc") }}</p>
        </div>
        <div class="col-md-4 col-sm-4 modules">
          <a href="https://events.webmaker.org" target="_blank"><img src="/img/makerparty_attendanevent_illustration2.png" alt="{{ gettext('Maker Party Attend An Event Illustration') }}" /></a>
          <h3><a href="https://events.webmaker.org" target="_blank">{{ gettext("Attend an Event") }}</a></h3>
          <p>{{ gettext("Attend an Event Desc") | safe }}</p>
        </div>
        <div class="col-md-4 col-sm-4 modules">
          <a href="/resources"><img src="/img/makerparty_getsupport_illustration.png" alt="{{ gettext('Maker Party Get Support Illustration') }}" /></a>
          <h3><a href="/resources">{{ gettext("Get Support") }}</a></h3>
          <p>{{ gettext("Get Support Desc") }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider">
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 big-section">
          <h2>{{ gettext("Have fun with our tools") }}</h2>
          <p>{{ gettext("Have fun with our tools Desc") | safe }}</p>
        </div>
        <div class="col-md-6 big-section">
          <h2>{{ gettext("Learn by teaching") }}</h2>
          <p>{{ gettext("Learn by teaching Desc") | safe }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider hide-on-desktop-divider">
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Maker Party History") }}</h2>
          <p>{{ gettext("Maker Party History Desc") | safe }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="collage">
            <div class="collage-row">
              <a class="collage-pics" href="/img/collage/full-1.jpg"><img src="/img/collage/1.jpg" alt="{{ gettext('Maker Party Collage Photo 1') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-2.jpg"><img src="/img/collage/2.jpg" alt="{{ gettext('Maker Party Collage Photo 2') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-3.jpg"><img src="/img/collage/3.jpg" alt="{{ gettext('Maker Party Collage Photo 3') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-4.jpg"><img src="/img/collage/4.jpg" alt="{{ gettext('Maker Party Collage Photo 4') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-5.jpg"><img src="/img/collage/5.jpg" alt="{{ gettext('Maker Party Collage Photo 5') }}" /></a>
            </div>
            <div class="collage-row">
              <a class="collage-pics" href="/img/collage/full-6.jpg"><img src="/img/collage/6.jpg" alt="{{ gettext('Maker Party Collage Photo 6') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-7.jpg"><img src="/img/collage/7.jpg" alt="{{ gettext('Maker Party Collage Photo 7') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-8.jpg"><img src="/img/collage/8.jpg" alt="{{ gettext('Maker Party Collage Photo 8') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-9.jpg"><img src="/img/collage/9.jpg" alt="{{ gettext('Maker Party Collage Photo 9') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-10.jpg"><img src="/img/collage/10.jpg" alt="{{ gettext('Maker Party Collage Photo 10') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-11.jpg"><img src="/img/collage/11.jpg" alt="{{ gettext('Maker Party Collage Photo 11') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-12.jpg"><img src="/img/collage/12.jpg" alt="{{ gettext('Maker Party Collage Photo 12') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-13.jpg"><img src="/img/collage/13.jpg" alt="{{ gettext('Maker Party Collage Photo 13') }}" /></a>
              <a class="collage-pics" href="/img/collage/full-14.jpg"><img src="/img/collage/14.jpg" alt="{{ gettext('Maker Party Collage Photo 14') }}" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section">
    <div class="container why-throw">
      <div class="row">
        <div class="col-md-4 col-sm-4 side-illust">
          <img src="/img/makerparty_world_illustration.png" alt="{{ gettext('Maker Party World Illustration') }}" />
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ gettext("Why Mozilla throws an annual Maker Party") }}</h2>
              <p>{{ gettext("Why Mozilla throws an annual Maker Party Desc") | safe }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ gettext("Learn more about") }}</h3>
                </div>
              </div>
              <div class="row wordmarks">
                <div class="col-md-3 col-xs-6">
                  <a href="https://webmaker.org/"><img src="/img/webmaker_wordmark_update.png"  alt="{{ gettext('Webmaker Wordmark') }}" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("See what people are saying about Maker Party") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 quote-container">
          <div class="quote">
            <img src="/img/makerparty_openquote.png" id="open-quote" alt="{{ gettext('Open Quote Illustration') }}" />
            <p class="quote-text">{{ gettext("Testimonials Quote #1") }}</p>
            <p class="quote-text">{{ gettext("Testimonials Quote #2") }}</p>
            <p class="quote-text">{{ gettext("Testimonials Quote #3") }}</p>
            <img src="/img/makerparty_closequote.png" id="close-quote" alt="{{ gettext('Close Quote Illustration') }}" />
          </div>
          <div class="quote-arrow-right"></div>
          <div class="quote-arrow-down"></div>
        </div>
        <div class="col-md-4 avatar-container">
          <div class="row">
            <div class="col-md-12">
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #1 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #1 Title") }}</span> <br />
                <a href="https://www.ywcatoronto.org/page.asp?l1=54&pid=162">{{ gettext("Testimonials Quote #1 Org") }} </a>
              </p>
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #2 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #2 Title") }}</span> <br />
                <a href="http://www.gmin.org/">{{ gettext("Testimonials Quote #2 Org") }} </a>
              </p>
              <p class="quote-source">
                <span class="lead">{{ gettext("Testimonials Quote #3 Name") }}</span> <br />
                <span class="job-title">{{ gettext("Testimonials Quote #3 Title") }}</span> <br />
                <a href="http://nysci.org/">{{ gettext("Testimonials Quote #3 Org") }} </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

