<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
  <link rel="stylesheet" href="compiled/style.min.css">
  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
</head>
<body>
  <div>
    <nav class="navbar navbar-default navbar-webmaker">
      <div class="container">
        <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">{{ '_toggle_navigation_' }}</span>
            <span class="fa fa-bars fa-lg"></span>
          </button>
          <a href="" class="logo webmaker-logo"><img src="img/makerparty_headerwordmark.png"></a>
        </div>

        <div class="navbar-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-cloak ng-show="_user.email">
              <a class="navbar-user-info dropdown-toggle">
                <img class="user-info-avatar" ng-src="{{_user.avatar}}"> {{ '_hi_' }} <strong>{{_user.username}}</strong> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{myMakesUrl}}" target="_blank"><span class="fa fa-th-large"></span> {{ '_my_makes_' }}</a></li>
                <li><a href="{{accountSettingsUrl}}" target="_blank"><span class="fa fa-cog"></span> {{ '_settings_' | i18n }}</a></li>
                <li class="divider"></li>
                <li><a ng-click="logout()"><span class="fa fa-sign-out"></span> {{ '_log_out_' }}</a></li>
              </ul>
            </li>
            <li>
              <button ng-cloak ng-show="!_user.email" class="btn btn-primary btn-sm navbar-btn" ng-click="login()">{{ '_log_in_' }}</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-no-header-xs">
      <div class="container">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Maker Party</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">History</a></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>

  <div class="view-animate" role="main" ng-view></div>

  <script src="config.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  <script src="js/ui.js"></script>
</body>
</html>
