<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="img/makerparty_favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
  <link rel="stylesheet" href="compiled/style.min.css">
</head>
{% block bodyOpen %}
<body>
{% endblock %}
  <div>
    <nav class="navbar navbar-default navbar-webmaker">
      <div class="container">
        <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mp-navbar-row">
            <span class="fa fa-bars fa-lg"></span>
          </button>
          <a href="/" class="logo webmaker-logo"><img src="img/makerparty_headerwordmark.png"></a>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-no-header-xs">
      <div class="container">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse" id="mp-navbar-row">
          {% block navItems %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">{{ gettext("Maker Party") }}</a></li>
            <li><a href="https://events.webmaker.org">{{ gettext("Events") }}</a></li>
            <li><a href="/partners">{{ gettext("Partners") }}</a></li>
            <li><a href="/resources">{{ gettext("Resources") }}</a></li>
            <li><a href="/history">{{ gettext("History") }}</a></li>
          </ul>
          {% endblock %}
          <ul class="nav-webmaker-logo">
            <li><a href="https://webmaker.org"><img src="img/webmaker_headerwordmark.png"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="view-animate" role="main">
    {% block banner %}
    {% endblock %}
    {% block callout %}
      <div class="call-out">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>{{ gettext("Maker Party 2014 runs from July 15 to September 15.") }}</h2>
              <p>{{ gettext("Anyone can join Maker Party by hosting or attending an event.") }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    {% block mainContent %}
    {% endblock %}
  </div>

  <div class="container sponsorship-partners">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ gettext("Our Sponsorship Partners") }}</h3>
        <div class="row text-center">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="http://www.macfound.org/"><img src="img/macarthur.png" /></a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="http://www.mozilla.org/"><img src="img/mozilla.png" /></a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="http://www.nwp.org/"><img src="img/nwp.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="get-mp-updates">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <img src="img/makerparty_updatenarrow_illustration.png" />
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3>{{ gettext("Get Maker Party Updates") }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <p>{{ gettext("Get Maker Party Updates Desc") }}</p>
            </div>
            <div class="col-md-5">
              <form id="form-get-updates">
                <input type="email" placeholder="Sign up for email updates" required />
                <button type="submit" class="btn btn-form-submit"><i class="fa fa-caret-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-12 footer-wordmark">
          <a href="/"><img src="img/makerparty_footerwordmark.png" /></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer-wordmark">
          <a href="https://webmaker.org/"><img src="img/webmaker_headerwordmark.png" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-3 footer-links">
          <ul>
            <li><i class="fa fa-globe"></i>{{ gettext("English") }}</li>
            <li><i class="fa fa-twitter"></i><a href="https://twitter.com/search?q=%23MakerParty&src=typd ">{{ gettext("Twitter") }}</a></li>
            <li><i class="fa fa-flickr"></i><a href="http://www.flickr.com/search/?w=faves-47833020@N03&q=makerparty">{{ gettext("Flickr") }}</a></li>
            <li><i class="fa fa-google-plus"></i><a href="https://plus.google.com/communities/106022863174952221205">{{ gettext("Google+") }}</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 footer-links">
          <ul>
            <li>&nbsp;</li>
            <li><a href="https://webmaker.org/about">{{ gettext("About Webmaker") }}</a></li>
            <li><a href="mailto:makerparty@mozilla.org">{{ gettext("Contact") }}</a></li>
            <li><a href="https://sendto.mozilla.org">{{ gettext("Donate") }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="config.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  <script src="js/ui.js"></script>
</body>
</html>
