<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
  <link rel="stylesheet" href="compiled/style.min.css">
  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
</head>
<body>
  <div>
    <nav class="navbar navbar-default navbar-webmaker">
      <div class="container">
        <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div class="navbar-header">
          <a href="/" class="logo webmaker-logo"><img src="img/makerparty_headerwordmark.png"></a>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-no-header-xs">
      <div class="container">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse" collapse="isCollapsed">
          {% block navItems %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Maker Party</a></li>
            <li><a href="https://events.webmaker.org">Events</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/history">History</a></li>
          </ul>
          {% endblock %}
        </div>

      </div>
    </nav>
  </div>

  <div class="view-animate" role="main" ng-view>
  {% block mainContent %}
  {% endblock %}
  </div>

  <footer>
    <div class="container">
      I'm the footer
    </div>
  </footer>

  <script src="config.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  <script src="js/ui.js"></script>
</body>
</html>
