<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="img/makerparty_favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/bower_components/jquery-colorbox/example4/colorbox.css" />
  <link rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.bootstrap3.css" />
  <link rel="stylesheet" href="/compiled/style.min.css">
  {% block customStyles %}{% endblock %}
  <script src="//cdn.optimizely.com/js/206878104.js"></script>
  <script id="require-js" src="/bower_components/requirejs/require.js" data-main="/js/main.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35433268-12']);
    _gaq.push(['_setDomainName', 'webmaker.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="https://stuff.webmaker.org/webmaker-rid/webmaker-rid.js" async></script>
</head>

<body class="{% if page %}{{ page }}{% endif %} {% if resoucesSubpage %}resources-subpage{% endif %}"
      {% if resoucesSubpage %} data-spy="scroll" data-target="#resources-side-nav"{% endif %}>
  <div>
    <!-- Primary nav -->
    <nav class="navbar navbar-default navbar-webmaker navbar-makerparty">
      <div class="container">
        <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mp-navbar-row">
            <span class="fa fa-bars fa-lg"></span>
          </button>
          <a href="/" class="logo webmaker-logo"><img src="/img/makerparty_headerwordmark.png" alt="{{ gettext('Maker Party Wordmark') }}" /></a>
        </div>
        <div class="language-picker-container hidden-xs">
          {% include 'language-picker.html' %}
        </div>
      </div>
    </nav>
    <!-- Primary nav ends -->

    <!-- Secondary nav -->
    <nav class="navbar navbar-inverse navbar-no-header-xs navbar-secondary">
      <div class="container">
        <div class="navbar-collapse collapse" id="mp-navbar-row">
          <div class="language-picker-container visible-xs">
            {% include 'language-picker.html' %}
          </div>
          {% block navItems %}
          <ul class="nav navbar-nav">
            <li {% if page == 'home' %}class="active"{% endif %}><a href="/{{localeInfo.lang}}/">{{ gettext("Home") }}</a></li>
            <li {% if page == 'partners' %}class="active"{% endif %}><a href="/{{localeInfo.lang}}/partners">{{ gettext("Partners") }}</a></li>
            <li {% if page == 'resources' %}class="active"{% endif %}>
              <a href="/{{localeInfo.lang}}/resources">{{ gettext("Resources") }}</a>
              {% if page == 'resources' %}
              <nav class="navbar navbar-tertiary visible-xs">
                <div class="container">
                  <div class="navbar-collapse" collapse="tertiaryCollapse">
                    <ul class="nav navbar-nav">
                      <li class="nav-icon nav-title {% if resoucesSubpage == 'getting-started' %}active{% endif %}">
                        <a href="/{{localeInfo.lang}}/resources/getting-started">{{ gettext("Choose Your Event Type") }}</a>
                      </li>
                      <li class="nav-icon nav-title {% if resoucesSubpage == 'getting-started-resources' %}active{% endif %}">
                        <a href="/{{localeInfo.lang}}/resources/getting-started-resources">{{ gettext("Getting Started") }}</a>
                      </li>
                      <li class="nav-icon nav-title {% if resoucesSubpage == 'planning-your-event' %}active{% endif %}">
                        <a href="/{{localeInfo.lang}}/resources/planning-your-event">{{ gettext("Planning Your Event") }}</a>
                      </li>
                      <li class="nav-icon nav-title {% if resoucesSubpage == 'running-your-event' %}active{% endif %}">
                        <a href="/{{localeInfo.lang}}/resources/running-your-event">{{ gettext("Running Your Event") }}</a>
                      </li>
                      <li class="nav-icon nav-title {% if resoucesSubpage == 'post-event' %}active{% endif %}">
                        <a href="/{{localeInfo.lang}}/resources/post-event">{{ gettext("After Your Event") }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              {% endif %}
            </li>
            <li {% if page == 'history' %}class="active"{% endif %}><a href="/{{localeInfo.lang}}/history">{{ gettext("History") }}</a></li>
            <li {% if page == 'live-updates' %}class="active"{% endif %}><a href="/{{localeInfo.lang}}/live-updates">{{ gettext("Live Updates") }}</a></li>
            <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
          </ul>
          {% endblock %}
          <ul class="nav-webmaker-logo">
            <li><a href="https://webmaker.org"><img src="/img/webmaker_headerwordmark.png" alt="{{ gettext('Webmaker Wordmark') }}" ></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Secondary nav ends -->

  <!-- Tertiary nav -->
  {% if page == "resources" %}
    <nav class="navbar navbar-no-header-xs navbar-tertiary hidden-xs">
      <div class="container">
        <div class="navbar-collapse" collapse="tertiaryCollapse">
          <ul class="nav navbar-nav">
            <li class="nav-icon nav-title {% if resoucesSubpage == 'getting-started' %}active{% endif %}">
              <a href="/{{localeInfo.lang}}/resources/getting-started">{{ gettext("Choose Your Event Type") }}</a>
            </li>
            <li class="nav-icon nav-title {% if resoucesSubpage == 'getting-started-resources' %}active{% endif %}">
              <a href="/{{localeInfo.lang}}/resources/getting-started-resources">{{ gettext("Getting Started") }}</a>
            </li>
            <li class="nav-icon nav-title {% if resoucesSubpage == 'planning-your-event' %}active{% endif %}">
              <a href="/{{localeInfo.lang}}/resources/planning-your-event">{{ gettext("Planning Your Event") }}</a>
            </li>
            <li class="nav-icon nav-title {% if resoucesSubpage == 'running-your-event' %}active{% endif %}">
              <a href="/{{localeInfo.lang}}/resources/running-your-event">{{ gettext("Running Your Event") }}</a>
            </li>
            <li class="nav-icon nav-title {% if resoucesSubpage == 'post-event' %}active{% endif %}">
              <a href="/{{localeInfo.lang}}/resources/post-event">{{ gettext("After Your Event") }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endif %}
  <!-- Tertiary nav ends-->

  <div class="view-animate" role="main">
    {% block banner %}
    {% endblock %}
    {% block callout %}
      <div class="call-out">
        <div class="container">
          <div class="left-triangle"></div>
          <div class="right-triangle"></div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>{{ gettext("Callout") }}</h2>
              <p>{{ gettext("Callout Desc") }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    {% block mainContent %}
    {% endblock %}
  </div>

  {% block sponsorshipPartners %}
  <div class="container" id="sponsorship-partners">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ gettext("Our Sponsorship Partners") }}</h3>
      </div>
    </div>
    <div class="row logos">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="http://www.macfound.org/"><img src="/img/macarthur_update.png" alt="{{ gettext('MacArthur Logo') }}" /></a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="http://www.mozilla.org/"><img src="/img/mozilla_update.png" alt="{{ gettext('Mozilla Logo') }}" /></a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="http://www.nwp.org/"><img src="/img/nwp_update.png" alt="{{ gettext('NWP Logo') }}" /></a>
      </div>
    </div>
  </div>
  {% endblock %}

  <div class="get-mp-updates">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2 side-illust">
          <img src="/img/makerparty_bullhorn@2x.png" id="bullhorn" alt="{{ gettext('Bullhorn Illustration') }}"  />
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <h3>{{ gettext("Get Maker Party Updates") }}</h3>
            </div>
            <div class="col-md-8 col-sm-12">
              <form id="form-get-updates" method="POST" name="signup" action="https://sendto.mozilla.org/page/s/maker-party-2014-save-the-date">
                <div class="form-field">
                  <div id="email-container">
                    <input type="email" name="email" class="form-control" placeholder="Sign up for email updates"  />
                    <button type="submit" name="submit-btn" class="btn btn-mp-green"><i class="fa fa-caret-right"></i></button>
                  </div>
                  <div class="help-block"><small>{{ gettext("Please enter your e-mail address.") }}</small></div>
                </div>
                <div id="pp-container" class="form-field has-error">
                  <div>
                    <input type="checkbox" name="custom-2517" id="privacy" />
                    <span><small>{{ gettext("Privacy Policy Checkbox") | safe }}</small></span>
                  </div>
                  <div class="help-block"><small>{{ gettext("Please check this checkbox to proceed.") }}</small></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-12 footer-wordmark">
          <a href="/"><img src="/img/makerparty_footerwordmark.png" alt="{{ gettext('Maker Party Wordmark') }}" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-6 footer-links">
          <ul>
            <li><i class="fa fa-twitter"></i><a href="https://twitter.com/search?q=%23MakerParty&src=typd ">{{ gettext("Twitter") }}</a></li>
            <li><i class="fa fa-flickr"></i><a href="https://www.flickr.com/photos/mozilladrumbeat/galleries/72157643962655534/#photo_9692273255 ">{{ gettext("Flickr") }}</a></li>
            <li><i class="fa fa-google-plus"></i><a href="https://plus.google.com/communities/106022863174952221205">{{ gettext("Google+") }}</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 footer-links">
          <ul>
            <li><a href="https://webmaker.org/about">{{ gettext("About Webmaker") }}</a></li>
            <li><a href="mailto:makerparty@mozilla.org">{{ gettext("Contact") }}</a></li>
            <li><a href="https://sendto.mozilla.org/page/contribute/EOYFR2013-newdefault?source=markerparty_2014_homepage">{{ gettext("Donate") }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% include 'thanks-modal.html' %}

  {% block customScripts %}{% endblock %}
</body>
</html>
