{% extends "views/layout.html" %}
{% block title %} Maker Party - Live Updates {% endblock %}

{% block customStyles %}
  <link href="/bower_components/supportopen-quilt/dist/quilt.min.css" rel="stylesheet">
{% endblock %}

{% block bodyOpen %}<body class="live-updates">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Home") }}</a></li>
  <li><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li><a href="/history">{{ gettext("History") }}</a></li>
  <li class="active"><a href="/live-updates">{{ gettext("Live Updates") }}</a></li>
  <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <!-- no banner on this page -->
{% endblock %}

{% block callout %}
  <!-- no callout on this page -->
{% endblock %}


{% block mainContent %}

  <div class="big-section" id="heatmap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Events around the world") }}</h2>
          <p>
            Each year Maker Party grows bigger and better! Check out all the places around the world where people are teaching, learning and making together. Want to see your event on the map? Add it to the events page [https://events.webmaker.org].
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider">
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Mozilla Webmaker Blog") }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-divider">
    </div>
  </div>

  <div class="big-section" id="quilt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Maker Party Quilt") }}</h2>
          <p>
            Share what you've made and add yourself to this Maker Party quilt by using the #makerparty hashtag on your Thimble [https://webmaker.org/tools] and Popcorn Maker [https://webmaker.org/tools] projects. You'll have the chance to enter your hashtag when you click "Save".
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="quiltContainer">
            <iframe src="http://pathto.example.com/companion_make.html" frameborder="0" id="makePreview" class="quilt-msnry"></iframe>
            <ul id="quiltMakes"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block customScripts %}
  <script src="/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="/bower_components/makeapi-client/src/make-api.js"></script>
  <script src="/bower_components/supportopen-quilt/dist/quilt.min.js"></script>
  <script>
    var quiltConfig = {
        tags: [ 'makerparty', 'makerparty-quilt' ],
        execution: 'or',
        limit: 50,
        duration: 7000
    };
    Quilt(quiltConfig);
  </script>
{% endblock %}
