{% extends "views/layout.html" %}
{% set page = "live-updates" %}

{% block title %} Maker Party - Live Updates {% endblock %}

{% block customStyles %}
  <link href="/bower_components/supportopen-quilt/dist/quilt.min.css" rel="stylesheet">
{% endblock %}

{% block banner %}
  <!-- no banner on this page -->
{% endblock %}

{% block callout %}
  <!-- no callout on this page -->
{% endblock %}


{% block mainContent %}

  <div class="big-section jumbotron banner" id="heatmap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Heatmap Title") }}</h1>
          <p>
            {{ gettext("Heatmap Desc") | safe }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="the-heatmap">
          </div>
          <div id="total-parties">
            <h2>Total Events</h2>
            <div id="the-total"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section" id="other-feeds">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ gettext("Mozilla Webmaker Blog") }}</h2>
          <div class="blog-post" id="blog-feed">
            <h3></h3>
            <p class="blog-date"></p>
            <p class="blog-excerpt"></p>
            <p class="read-more-links">
              <a href="">{{ gettext("Read more") }}</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="twitter-feeds">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23makerparty"  data-widget-id="477691708356820992" width="100%" height="500px">Tweets about "#makerparty"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section jumbotron" id="quilt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Maker Party Quilt Title") }}</h1>
          <p>
            {{ gettext("Maker Party Quilt Desc") }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="quiltContainer">
            <iframe src="https://mozteach.makes.org/thimble/maker-party-invitation" frameborder="0" id="makePreview" class="quilt-msnry"></iframe>
            <ul id="quiltMakes"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block customScripts %}
{% endblock %}
