{% extends "views/layout.html" %}
{% block title %} Maker Party - Partners {% endblock %}

{% block bodyOpen %}<body class="partners">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Home") }}</a></li>
  <li class="active"><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li><a href="/history">{{ gettext("History") }}</a></li>
  <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Help us teach the web") }}</h1>
          <p class="lead">{{ gettext("Help us teach the web Desc") }}</p>
          <div class="cta-button-container">
            <p><i>{{ gettext("Partner with Mozilla to teach the web.") }}</i></p>
            <p><a class="btn btn-banner btn-mp-green" href="https://sendto.mozilla.org/page/s/maker-party-partner-signup-2014">{{ gettext("Register Now!") }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section what-is-mp-partner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2>{{ gettext("What is a Maker Party Partner?") }}</h2>
          <p>{{ gettext("What is a Maker Party Partner? Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>{{ gettext("Promotional Partners") }}</h3>
          <p>{{ gettext("Promotional Partners Desc") }}</p>
        </div>
        <div class="col-md-4">
          <h3>{{ gettext("Event Partners") }}</h3>
          <p>{{ gettext("Event Partners Desc") | safe }}</p>
        </div>
        <div class="col-md-4">
          <h3>{{ gettext("Sponsorship Partners") }}</h3>
          <p>{{ gettext("Sponsorship Partners Desc") }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section who-why-partner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/makerparty_partnerspage_photo.jpg" />
        </div>
        <div class="col-md-6">
          <div class="row nested-row">
            <div class="col-md-12">
              <h2>{{ gettext("Who can be a partner?") }}</h2>
              <p>{{ gettext("Who can be a partner? Desc") }}</p>
            </div>
            <div id="why-partner" class="col-md-12">
              <h2>{{ gettext("Why partner?") }}</h2>
              <p>{{ gettext("Why partner? Desc") }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="big-section partner-yellow-cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row nested-row">
            <div class="col-md-12">
              <h2>{{ gettext("Interested in becoming a Maker Party partner?") }}</h2>
            </div>
          </div>
          <div class="row nested-row">
            <div class="col-md-9">
              <p>{{ gettext("Interested in becoming a Maker Party partner? Desc") | safe }}</p>
            </div>
            <div class="col-md-3">
              <a href="https://sendto.mozilla.org/page/s/maker-party-partner-signup-2014" class="btn btn-mp-green">{{ gettext("Register Now!") }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section previous-partners">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <img src="img/makerparty_network_illustration.png" />
        </div>
        <div class="col-md-8 col-sm-6">
          <h2>{{ gettext("Previous Partners") }}</h2>
          <h4>{{ gettext("Previous Partners Desc") }}</h4>
          ===== FIXME =====
          <ul>
            <li>{{ gettext("Black Girls Code Desc") | safe }}</li>
            <li>{{ gettext("MIT Media Lab Desc") | safe }}</li>
            <li>{{ gettext("DIY.org Desc") | safe }}</li>
            <li>{{ gettext("Maker Education Initiative Desc") | safe }}</li>
            <li>{{ gettext("Girl Scout Troops Desc") | safe}}</li>
          </ul>
          <p class="read-more-links">
            <a href="/history">{{ gettext("Read more about the history of Maker Party.") }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

