{% extends "views/layout.html" %}
{% block title %} Maker Party - Partners {% endblock %}

{% block bodyOpen %}<body class="partners">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Home") }}</a></li>
  <li class="active"><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li><a href="/history">{{ gettext("History") }}</a></li>
  <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Help us teach the web") }}</h1>
          <p class="lead">{{ gettext("Help us teach the web Desc") }}</p>
          <div class="cta-button-container">
            <p><i>{{ gettext("Partner with Mozilla to teach the web.") }}</i></p>
            <p><a class="btn btn-banner btn-mp-green" href="https://sendto.mozilla.org/page/s/maker-party-partner-signup-2014">{{ gettext("Register Now!") }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section what-is-mp-partner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2>{{ gettext("What is a Maker Party Partner?") }}</h2>
          <p>{{ gettext("What is a Maker Party Partner? Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>{{ gettext("Promotional Partners") }}</h3>
          <p>{{ gettext("Promotional Partners Desc") }}</p>
        </div>
        <div class="col-md-4">
          <h3>{{ gettext("Event Partners") }}</h3>
          <p>{{ gettext("Event Partners Desc") | safe }}</p>
        </div>
        <div class="col-md-4">
          <h3>{{ gettext("Sponsorship Partners") }}</h3>
          <p>{{ gettext("Sponsorship Partners Desc") }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section who-why-partner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/makerparty_partnerspage_photo.jpg" alt="{{ gettext('Maker Party Partners Page Photo') }}" />
        </div>
        <div class="col-md-6">
          <div class="row nested-row">
            <div class="col-md-12">
              <h2>{{ gettext("Who can be a partner?") }}</h2>
              <p>{{ gettext("Who can be a partner? Desc") }}</p>
            </div>
            <div id="why-partner" class="col-md-12">
              <h2>{{ gettext("Why partner?") }}</h2>
              <p>{{ gettext("Why partner? Desc") }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section partner-yellow-cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row nested-row">
            <div class="col-md-12">
              <h2>{{ gettext("Interested in becoming a Maker Party partner?") }}</h2>
            </div>
          </div>
          <div class="row nested-row">
            <div class="col-md-9">
              <p>{{ gettext("Interested in becoming a Maker Party partner? Desc") | safe }}</p>
            </div>
            <div class="col-md-3">
              <a href="https://sendto.mozilla.org/page/s/maker-party-partner-signup-2014" class="btn btn-mp-green">{{ gettext("Register Now!") }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="big-section docs-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Partner Agreements") }}</h2>
          <p>{{ gettext("Partner Agreements Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-4 asset">
          <div class="doc-preview">
            <a href="https://makerparty2014.makes.org/thimble/MjEyNjI0OTk4NA==/maker-party-promotional-partner"><i class="fa fa-file-text-o"></i></a>
          </div>
          <div class="download-links">
            <a href="https://makerparty2014.makes.org/thimble/MjEyNjI0OTk4NA==/maker-party-promotional-partner">{{ gettext("Promotional Partner Agreement") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 asset">
          <div class="doc-preview">
            <a href="https://makerparty2014.makes.org/thimble/MTI5ODI2ODE2/maker-party-event-partner"><i class="fa fa-file-text-o"></i></a>
          </div>
          <div class="download-links">
            <a href="https://makerparty2014.makes.org/thimble/MTI5ODI2ODE2/maker-party-event-partner">{{ gettext("Event Partner Agreement") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 asset">
          <div class="doc-preview">
            <a href="https://makerparty2014.makes.org/thimble/MjE0MzAyNzIwMA==/become-a-2014-maker-party-partner"><i class="fa fa-file-text-o"></i></a>
          </div>
          <div class="download-links">
            <a href="https://makerparty2014.makes.org/thimble/MjE0MzAyNzIwMA==/become-a-2014-maker-party-partner">{{ gettext("Why Be a Partner") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <div class="doc-preview">
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 2014 Partners starts ===================================== -->
  <div class="big-section" id="partners-2014">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext('2014 Partners') }}</h2>
        </div>
      </div>
    </div>

    <!-- EVENT Partners =============================== -->
    <div class="container" id="event-partners">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ gettext("Event Partners") }}</h3>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.aflon.org/"><img src="/img/partners/event/AflonDigitalInstitute.png" alt="Aflon Digital Institute logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.agapewerks.org/"><img src="/img/partners/event/AgapeWerks.jpg" alt="Agape Werks logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://appshed.com/"><img src="/img/partners/event/Appshed.png" alt="Appshed logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.binghamuni.edu.ng/"><img src="/img/partners/event/BinghamUniversityNasarawaState.png" alt="Bingham University Nasarawa State logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.bunker360.com.br/"><img src="/img/partners/event/Bunker360.jpg" alt="Bunker360 logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.campaignbootcamp.org/"><img src="/img/partners/event/CampaignBootcamp.png" alt="Campaign Bootcamp logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.caravanaweb.com/"><img src="/img/partners/event/CaravanWeb.png" alt="Caravan Web logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://teens.chattlibrary.org/"><img src="/img/partners/event/ChattanoogaPublicLibrary.jpg" alt="Chattanooga Public Library logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.thecr8vview.com/"><img src="/img/partners/event/ClarityCreativeInstitute.png" alt="Clarity Creative Institute logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.codeclub.org.uk/"><img src="/img/partners/event/CodeClub.png" alt="Code Club logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.meetup.com/Code-for-Boston/"><img src="/img/partners/event/CodeForBoston.png" alt="Code for Boston logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.datagrup.es/"><img src="/img/partners/event/DataGrup.png" alt="Data Grup logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://dubaiservicejam.com/"><img src="/img/partners/event/DubaiServiceJam.gif" alt="Dubai Service Jam logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.digitalharbor.org/"><img src="/img/partners/event/DigitalHarbor.png" alt="Digital Harbor logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://digitalready.net/"><img src="/img/partners/event/DigitalReady.png" alt="Digital Ready logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://dp.la/"><img src="/img/partners/event/DPLA.png" alt="DPLA logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://emoti-con.org/"><img src="/img/partners/event/Emoti-con.png" alt="Emoti-con logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://eyebeam.org/"><img src="/img/partners/event/Eyebeam.png" alt="Eyebeam logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://frontinrecife.com.br/"><img src="/img/partners/event/FrontInRecife.png" alt="Front in Recife logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://geekgirlscarrots.pl/hello-english/"><img src="/img/partners/event/GeekGirlsCarrots.png" alt="Geek Girls Carrots logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://learninglabs.org/members/girls-learning-code/"><img src="/img/partners/event/GirlsLearningCode.png" alt="Girls Learning Code logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://globalkids.org/"><img src="/img/partners/event/GlobalKids.png" alt="Global Kids logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.gmin.org/"><img src="/img/partners/event/GMin.jpg" alt="GMin logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://hackeryou.com/"><img src="/img/partners/event/HackerYou.png" alt="HackerYou logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://innovatesa.org/"><img src="/img/partners/event/InnovateSouthAfrica.jpg" alt="Innovate South Africa logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://sidengo.com/jumpstart"><img src="/img/partners/event/Jumpstart.png" alt="Jumpstart logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://learninglabs.org/members/kids-learning-code/"><img src="/img/partners/event/KidsLearningCode.jpg" alt="Kids Learning Code logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://ladieslearningcode.com/"><img src="/img/partners/event/LadiesLearningCode.png" alt="Ladies Learning Code logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://makerbox.org.nz/"><img src="/img/partners/event/MakerBox.png" alt="Maker Box logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.maker-state.com/"><img src="/img/partners/event/MakerState.png" alt="Maker State logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://makethingsdostuff.co.uk/"><img src="/img/partners/event/MakeThingsDoStuff.jpg" alt="Make Things Do Stuff logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.mouse.org"><img src="/img/partners/event/Mouse.png" alt="Mouse logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.movingimage.us/"><img src="/img/partners/event/MuseumOfTheMovingImage.jpg" alt="Museum of The Moving Image logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.ncsyes.co.uk/"><img src="/img/partners/event/NCS.png" alt="NCS logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.nesta.org.uk/"><img src="/img/partners/event/Nesta.png" alt="Nesta logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.netsquared.org/local/africa/netsquared-kenya#.U2quHi-0ZNk"><img src="/img/partners/event/NetsquaredKenya.png" alt="NetSquared Kenya logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://schools.nyc.gov/ParentsFamilies/NYCSummerQuest"><img src="/img/partners/event/NYCSummerQuest.png" alt="NYC Summer Quest logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://nysci.org/"><img src="/img/partners/event/NYSCI.png" alt="NYSCI logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://peopleandcode.com/"><img src="/img/partners/event/PeopleAndCode.png" alt="People & Code logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://pernambucojs.com/"><img src="/img/partners/event/PernambucoJs.png" alt="Pernambuco.js logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.plutonictech.com/"><img src="/img/partners/event/Plutonictech.png" alt="Plutonictech logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://skilltimes.com/"><img src="/img/partners/event/Skilltimes.png" alt="Skilltimes logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.stokedonsteam.org/"><img src="/img/partners/event/StokedOnSteam.png" alt="Stoked on Steam logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.tech21.com/"><img src="/img/partners/event/Tech21.png" alt="Tech21 logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.templo.co/"><img src="/img/partners/event/Templo.png" alt="Templo logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.urbanarts.org/"><img src="/img/partners/event/UrbanArts.png" alt="Urban Arts logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://urducation.com/"><img src="/img/partners/event/Urducation.png" alt="Urducation logo" /></a>
        </div>
      </div>
      <!-- last row ends  -->
    </div>

    <!-- PROMOTIONAL Partners =============================== -->
    <div class="container" id="promotional-partners">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ gettext("Promotional Partners") }}</h3>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.afterschoolalliance.org/"><img src="/img/partners/promotional/AfterschoolAlliance.png" alt="Afterschool Alliance Log" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="https://aspirationtech.org/"><img src="/img/partners/promotional/AspirationTech.png" alt="Aspiration Tech Log" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.astc.org/index.htm"><img src="/img/partners/promotional/ASTC.jpg" alt="ASTC Logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <img src="/img/partners/promotional/DevelopHer.png" alt="DevelopHer logo" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://feastongood.com/2014/"><img src="/img/partners/promotional/FeastOnGood.jpg" alt="Feast On Good logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.greyymatter.com/"><img src="/img/partners/promotional/GreyyMatter.png" alt="Greyy Matter logo" /></a>
        </div>
      </div>
      <!-- new row  -->
      <div class="row logos">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.imls.gov/"><img src="/img/partners/promotional/IMLS.jpg" alt="IMLS logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://www.LearningRevolution.com"><img src="/img/partners/promotional/LearningRevolution.png" alt="Learning Revolution logo" /></a>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://spark.telecentre.org/"><img src="/img/partners/promotional/Telecenter.png" alt="Telecenter logo" /></a>
        </div>
      </div>
      <!-- last row ends  -->
    </div>

  <!-- SPONSORSHIP Partners =============================== -->
    <div class="container" id="sponsorship-partners">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ gettext("Sponsorship Partners") }}</h3>
        </div>
      </div>
      <div class="row logos">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <a href="http://www.macfound.org/"><img src="/img/macarthur_update.png" alt="{{ gettext('MacArthur Logo') }}" /></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <a href="http://www.mozilla.org/"><img src="/img/mozilla_update.png" alt="{{ gettext('Mozilla Logo') }}" /></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <a href="http://www.nwp.org/"><img src="/img/nwp_update.png" alt="{{ gettext('NWP Logo') }}" /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- 2014 Partners ends ===================================== -->

  <!-- Previous Partners starts ===================================== -->
  <div class="big-section previous-partners">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <img src="/img/makerparty_network_illustration.png" alt="{{ gettext('Maker Party Network Illustration') }}" />
        </div>
        <div class="col-md-8 col-sm-6">
          <h2>{{ gettext("Previous Partners") }}</h2>
          <p>{{ gettext("Previous Partners Desc") }}</p>
          <ul class="list">
            <li>{{ gettext("Black Girls Code Desc") | safe }}</li>
            <li>{{ gettext("MIT Media Lab Desc") | safe }}</li>
            <li>{{ gettext("DIY.org Desc") | safe }}</li>
            <li>{{ gettext("Girl Scout Troops Desc") | safe}}</li>
          </ul>
          <p class="read-more-links">
            <a href="/history">{{ gettext("More about the history of Maker Party") }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Previous Partners ends ===================================== -->

{% endblock %}

{% block sponsorshipPartners %}
{% endblock %}
