{% extends "views/layout.html" %}
{% block title %} Maker Party - Resources {% endblock %}

{% block bodyOpen %}<body class="resources">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Home") }}</a></li>
  <li><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li class="active"><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li><a href="/history">{{ gettext("History") }}</a></li>
  <li><a href="https://events.webmaker.org" target="_blank">{{ gettext("Events") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Resources") }}</h1>
          <p class="lead">{{ gettext("Resources Banner Desc") }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section docs-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Partner Resource Package") }}</h2>
          <p>{{ gettext("Partner Resource Package Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <div class="doc-preview">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="download-links">
            <a href=""><i class="fa fa-download"></i>{{ gettext("Resource PDF") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <div class="doc-preview">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="download-links">
            <a href=""><i class="fa fa-download"></i>{{ gettext("Agreement PDF") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <div class="doc-preview">
            <!-- <i class="fa fa-file-text-o"></i> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <div class="doc-preview">
            <!-- <i class="fa fa-file-text-o"></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section graphics-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Logos and Graphics") }}</h2>
          <p>{{ gettext("Logos and Graphics Desc") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h3>{{ gettext("Logo") }}</h3>
          <div class="preview">
            <img src="resources/MakerPartyLogo-thumb.png" />
          </div>
          <div class="download-links">
            <a href="resources/MakerPartyLogo.eps" target="_blank"><i class="fa fa-download"></i>{{ gettext("EPS") }}</a>
            <a href="resources/MakerPartyLogo.png" target="_blank" target="_blank"><i class="fa fa-download"></i>{{ gettext("PNG") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h3>{{ gettext("Wordmark") }}</h3>
          <div class="preview">
            <img src="resources/MakerPartyWordmark-thumb.png" />
          </div>
          <div class="download-links">
            <a href="resources/MakerPartyWordmark.eps" target="_blank"><i class="fa fa-download"></i>{{ gettext("EPS") }}</a>
            <a href="resources/MakerPartyWordmark.png" target="_blank" target="_blank"><i class="fa fa-download"></i>{{ gettext("PNG") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h3>{{ gettext("Brand Palette") }}</h3>
          <div class="preview">
            <img src="resources/MakerPartyBrandPalette-thumb.jpg" />
          </div>
          <div class="download-links">
            <a href="resources/MakerPartyBrandPalette.eps"><i class="fa fa-download"></i>{{ gettext("EPS") }}</a>
            <a href="resources/MakerPartyBrandPalette.png" target="_blank"><i class="fa fa-download"></i>{{ gettext("PNG") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
