{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "running-your-event" %}
{% set prevSection = true %}
{% set prevSectionLink = '/resources/planning-your-event' %}
{% set prevSectionTitle = 'Planning Your Event' %}
{% set nextSection = true %}
{% set nextSectionLink = '/resources/post-event' %}
{% set nextSectionTitle = 'After Your Event' %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-users"></i>{{ gettext("Running Your Event") }}</h1>
          <p></p>
          <a class="btn btn-banner btn-mp-green btn-lg" href="https://events.webmaker.org/">
            {{ gettext("Register Your Event") }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block resourcesSideNav %}
  <li><a href="#Set-up">{{ gettext("Set-up Title") }}</a></li>
  <li><a href="#Welcome_and_Registration">{{ gettext("Welcome & Registration Title") }}</a></li>
  <li><a href="#Documentation">{{ gettext("Documentation Title") }}</a></li>
  <li><a href="#Wrap-up">{{ gettext("Wrap-up Title") }}</a></li>
{% endblock %}

{% block resourcesMain %}
  <!-- New section =================== -->
  <div class="section" id="Set-up">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Set-up Title") }}</h2>
        <h4>{{ gettext("Set-up Desc") }}</h4>
        <ul>
          <li>
            <ul class="list nested-list">
              <li>{{ gettext("Event Set-up Checklist") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Welcome_and_Registration">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Welcome & Registration Title") }}</h2>
        <h4>{{ gettext("Welcome & Registration Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Welcome Title") }}</div>
            <div class="item-description">{{ gettext("Welcome Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Sign-in Title") }}</div>
            <div class="item-description">{{ gettext("Sign-in Desc") }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Documentation">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Documentation Title") }}</h2>
        <h4>{{ gettext("Documentation Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Photography/Video Title") }}</div>
            <div class="item-description">{{ gettext("Photography/Video Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Live Share Title") }}</div>
            <ul class="list nested-list">
              <li>{{ gettext("Use the hashtag #makerparty everywhere!") }}</li>
              <li>{{ gettext("Tweet at @Webmaker") | safe }}</li>
              <li>{{ gettext("Social Media best practices") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Wrap-up">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Wrap-up Title") }}</h2>
        <h4>{{ gettext("Wrap-up Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Share Title") }}</div>
            <div class="item-description">{{ gettext("Share Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Get Feedback Title") }}</div>
            <div class="item-description">{{ gettext("Get Feedback Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Clean-Up Title") }}</div>
            <div class="item-description">{{ gettext("Clean-Up Desc") }}</div>
              <ul class="list nested-list">
                <li>{{ gettext("Event Take Down Checklist") | safe }}</li>
              </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Fundraise Title") }}</div>
            <div class="item-description">{{ gettext("Fundraise Desc") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
