{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "getting-started" %}
{% set prevSection = false %}
{% set nextSection = true %}
{% set nextSectionLink = '/resources/getting-started-resources' %}
{% set nextSectionTitle = 'Getting Started Resources' %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-rocket"></i>{{ gettext("Choose Your Event Type") }}</h1>
          <p></p>
          <a class="btn btn-banner btn-mp-green btn-lg" href="https://events.webmaker.org/">
            {{ gettext("Register Your Event") }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}


{% block resourcesMain %}
  <!-- New section =================== -->
  <div class="section">
    <div class="row intro">
      <div class="col-md-12">
        <h4>{{ gettext("Choose your Event Type Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        {% if localeInfo.lang == 'es-CL' or localeInfo.lang == 'es-MX' or localeInfo.lang == 'es' %}
          <ul>
            <li>
              <div class="item-title">{{ gettext("Small Event Title") | safe }}</div>
              <div class="item-description">{{ gettext("Small Event Desc - Spanish") | safe }}</div>
            </li>
            <li>
              <div class="item-title">{{ gettext("Medium Event Title") | safe }}</div>
              <div class="item-description">{{ gettext("Medium Event Desc - Spanish") | safe }}</div>
            </li>
            <li>
              <div class="item-title">{{ gettext("Large Event Title") | safe }}</div>
              <div class="item-description">{{ gettext("Large Event Desc - Spanish") | safe }}</div>
            </li>
          </ul>
        {% else %}
          <ul>
            <li>
              <div class="item-title">{{ gettext("Small Event Title") | safe }}</div>
              <div class="item-description">{{ gettext("Small Event Desc") | safe }}</div>
            </li>
            <li>
              <div class="item-title">{{ gettext("Medium Event Title") | safe }}</div>
              <div class="item-description">{{ gettext("Medium Event Desc") | safe }}</div>
            </li>
            <li>
              <div class="item-title">{{ gettext("Large Event Title") | safe }}</div>
              <div class="item-description">{{ gettext("Large Event Desc") | safe }}</div>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
