{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "getting-started-resources" %}
{% set prevSection = true %}
{% set prevSectionLink = '/resources/getting-started' %}
{% set prevSectionTitle = 'Choose Your Event Type' %}
{% set nextSection = true %}
{% set nextSectionLink = '/resources/planning-your-event' %}
{% set nextSectionTitle = 'Planning Your Event' %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-briefcase"></i>{{ gettext("Getting Started Resources") }}</h1>
          <p>
            {{ gettext("Getting Started Resources Desc") }}
          </p>
          <a class="btn btn-banner btn-mp-green btn-lg" href="https://events.webmaker.org/">
            {{ gettext("Register Your Event") }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block resourcesSideNav %}
  <li><a href="#Tools-to-Teach-the-Web">{{ gettext("Tools to Teach the Web Title") }}</a></li>
  <li><a href="#Web-Literacy-Map">{{ gettext("Web Literacy Teaching Resources Title") }}</a></li>
  <li><a href="#Community-Resources">{{ gettext("Meet Other Event Hosts Title") }}</a></li>
  <li><a href="#Webmaker-Training">{{ gettext("Webmaker Training Title") }}</a></li>
  <li><a href="#Requesting-Support">{{ gettext("Requesting Support Title") }}</a></li>
{% endblock %}

{% block resourcesMain %}

  <!-- New section =================== -->
  <div class="section" id="Tools-to-Teach-the-Web">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Tools to Teach the Web Title") }}</h2>
        <h4>{{ gettext("Tools to Teach the Web Desc") | safe }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-description">{{ gettext("Popcorn Maker Desc") | safe }}</div>
          </li>
          <li>
            <div class="item-description">{{ gettext("Thimble Desc") | safe }}</div>
          </li>
          <li>
            <div class="item-description">{{ gettext("X-Ray Goggles Desc") | safe }}</div>
          </li>
          <li>
            <div class="item-description">{{ gettext("Appmaker Desc") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Web-Literacy-Map">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Web Literacy Teaching Resources Title") }}</h2>
        <h4>{{ gettext("Web Literacy Teaching Resources Desc") | safe }}</h4>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Community-Resources">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Meet Other Event Hosts Title") }}</h2>
        <h4>{{ gettext("Meet Other Event Hosts Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <div class="subsection">
          <h3>{{ gettext("Have questions Title") | safe }}</h3>
          <p>{{ gettext("Have questions Desc") | safe }}</p>
        </div>
        <div class="subsection">
          <h3>{{ gettext("#MakerParty Title") | safe }}</h3>
          <p>{{ gettext("#MakerParty Desc") }}</p>
        </div>
        <div class="subsection">
          <h3>{{ gettext("Your Maker Party event page Title") | safe }}</h3>
          <p>{{ gettext("Your Maker Party event page Desc") }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Webmaker-Training">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Webmaker Training Title") }}</h2>
        <h4>{{ gettext("Webmaker Training Desc") | safe }}</h4>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Requesting-Support">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Requesting Support Title") }}</h2>
        <h4>{{ gettext("Requesting Support Desc") | safe }}</h4>
      </div>
    </div>
  </div>


{% endblock %}
