{% extends "views/layout.html" %}
{% block title %} Maker Party - Resources {% endblock %}

{% block bodyOpen %}<body class="resources">{% endblock %}
{% block navItems %}
<ul class="nav navbar-nav">
  <li><a href="/">{{ gettext("Maker Party") }}</a></li>
  <li><a href="https://events.webmaker.org">{{ gettext("Events") }}</a></li>
  <li><a href="/partners">{{ gettext("Partners") }}</a></li>
  <li class="active"><a href="/resources">{{ gettext("Resources") }}</a></li>
  <li><a href="/history">{{ gettext("History") }}</a></li>
</ul>
{% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>{{ gettext("Resources - Placeholder") }}</h1>
          <p class="lead">{{ gettext("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a luctus massa. Fusce lacinia ac sapien in tincidunt. Maecenas sed massa adipiscing erat ultrices faucibus sit amet nec augue. Quisque sapien sapien, pulvinar ut odio dapibus, varius ultricies ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a luctus massa. Fusce lacinia ac sapien in tincidunt. Maecenas sed massa adipiscing erat ultrices faucibus sit amet nec augue. Quisque sapien sapien, pulvinar ut odio dapibus, varius ultricies ante.") }}</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="big-section">
    <div class="container">
      Resources Page
    </div>
  </div>
{% endblock %}
