{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "planning-your-event" %}
{% set prevSection = true %}
{% set prevSectionLink = '/resources/getting-started-resources' %}
{% set prevSectionTitle = 'Getting Started Resources' %}
{% set nextSection = true %}
{% set nextSectionLink = '/resources/running-your-event' %}
{% set nextSectionTitle = 'Running Your Event' %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-flag"></i>{{ gettext("Planning Your Event") }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block resourcesSideNav %}
  <li><a href="#Find-a-venue">{{ gettext("Find a venue Title") }}</a></li>
  <li><a href="#Design-a-fun-experience">{{ gettext("Design a fun experience Title") }}</a></li>
  <li><a href="#Speakers">{{ gettext("Speakers Title") }}</a></li>
  <li><a href="#Schedule">{{ gettext("Schedule Title") }}</a></li>
  <li><a href="#Activities">{{ gettext("Activities Title") }}</a></li>
  <li><a href="#Volunteers_and_Collaborators">{{ gettext("Volunteers & Collaborators Title") }}</a></li>
  <li><a href="#Promotion">{{ gettext("Promotion Title") }}</a></li>
  <li><a href="#Tech">{{ gettext("Tech Title") }}</a></li>
{% endblock %}

{% block resourcesMain %}
  <!-- New section =================== -->
  <div class="section" id="Find-a-venue">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Find a venue Title") }}</h2>
        <h4>{{ gettext("Find a venue Desc") }}</h4>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Design-a-fun-experience">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Design a fun experience Title") }}</h2>
        <h4>{{ gettext("Design a fun experience Desc") }}</h4>
        <ul>
          <li>
            <ul class="list nested-list">
              <li>{{ gettext("Stencil a t-shirt guide") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Speakers">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Speakers Title") }}</h2>
        <h4>{{ gettext("Speakers Desc") }}</h4>
        <ul>
          <li>
            <ul class="list nested-list">
              <li>{{ gettext("Delivering a Talk or a Workshop") | safe }}</li>
              <li>{{ gettext("Preparing a Great Slideshow") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Schedule">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Schedule Title") }}</h2>
        <h4>{{ gettext("Schedule Desc") }}</h4>
        <ul>
          <li>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Event Schedule") | safe }}</li>
              <li>{{ gettext("Sample Event Agenda") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Activities">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Activities (Planning Your Event Page) Title") }}</h2>
        <h4>{{ gettext("Activities (Planning Your Event Page) Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Using the Teach the Web Tools Title") }}</div>
            <div class="item-description">{{ gettext("Using the Teach the Web Tools Desc") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Planning Your Activities (Planning Your Event Page) Title") }}</div>
            <div class="item-description">{{ gettext("Planning Your Activities (Planning Your Event Page) Desc") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Setting Up Stations Title") }}</div>
            <div class="item-description">{{ gettext("Setting Up Stations Desc")}}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Offline activities Title") }}</div>
            <div class="item-description">{{ gettext("Offline activities Desc") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Volunteers_and_Collaborators">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Volunteers & Collaborators Title") }}</h2>
        <h4>{{ gettext("Volunteers & Collaborators Desc") | safe }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Finding volunteers Title") }}</div>
            <div class="item-description">{{ gettext("Finding volunteers Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Managing your volunteers (volunteer training) Title") }}</div>
            <div class="item-description">{{ gettext("Managing your volunteers (volunteer training) Desc") }}</div>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Volunteer Package") | safe }}</li>
            </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Working with Collaborators Title") }}</div>
            <div class="item-description">{{ gettext("Working with Collaborators Desc") }}</div>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Email to Facilitators") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- New section =================== -->
  <div class="section" id="Promotion">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Promotion Title") }}</h2>
        <h4>{{ gettext("Promotion Desc") }}</h4>
        <ul class="list nested-list">
          <li>{{ gettext("Promotions Checklist") | safe }}</li>
        </ul>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Logos & Visual Assets Title") }}</div>
            <div class="item-description">{{ gettext("Logos & Visual Assets Desc") }}</div>
            <ul class="list nested-list">
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party logo") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party wordmark") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party banner") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party email graphic") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party brand palette") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party animated GIFs") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party stencil") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party wallpaper") }}</a></li>
              <li><a href='/resources/#downloadable-graphics'>{{ gettext("Maker Party buttons") }}</a></li>
            </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Online Promotion and Press Title") }}</div>
            <div class="item-description">{{ gettext("Online Promotion and Press Desc") | safe }}</div>
            <ul class="list nested-list">
              <li>
                <div class="item-title">{{ gettext("Use Lists Title") }}</div>
                <div class="item-description">{{ gettext("Use Lists Desc") | safe }}</div>
              </li>
              <li>
                <div class="item-title">{{ gettext("Press Releases Title") }}</div>
                <div class="item-description">{{ gettext("Press Releases Desc") | safe }}</div>
              </li>
            </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Sponsorship Title") }}</div>
            <div class="item-description">{{ gettext("Sponsorship Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Social Media Title") }}</div>
            <div class="item-description">{{ gettext("Social Media Desc") }}</div>
            <ul class="list nested-list">
              <li>
                <div class="item-title">{{ gettext("Social Media best practices Title") }}</div>
                <div class="item-description">{{ gettext("Social Media best practices Desc") | safe }}</div>
              </li>
            </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Flyers Title") }}</div>
            <div class="item-description">{{ gettext("Flyers Desc") }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("Invitations Title") }}</div>
            <div class="item-description">{{ gettext("Invitations Desc") | safe }}</div>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Invitation") | safe }}</li>
              <li>{{ gettext("Sample Invitation Make") | safe }}</li>
            </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Signage & Gear Title") }}</div>
            <div class="item-description">{{ gettext("Signage & Gear Desc") | safe }}</div>
            <ul class="list nested-list">
              <li>
                <div class="item-title">{{ gettext("Gear Title") }}</div>
                <div class="item-description">{{ gettext("Gear (Planning Your Event Page) Desc") }}</div>
              </li>
              <li>
                <div class="item-title">{{ gettext("Signage Title") }}</div>
                <div class="item-description">{{ gettext("Signage Desc") | safe }}</div>
              </li>
              <li>
                {{ gettext("Request gear for your event") }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Tech">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Tech Title") }}</h2>
        <h4>{{ gettext("Tech Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Equipment Title") }}</div>
            <div class="item-description">{{ gettext("Equipment Desc") | safe }}</div>
            <ul class="list nested-list">
              <li>
               {{ gettext("Example laptop sign out sheet") }}
              </li>
            </ul>
          </li>
          <li>
            <div class="item-title">{{ gettext("Back-Up Plan Title") }}</div>
            <div class="item-description">{{ gettext("Back-Up Plan Desc") | safe }}</div>
            <ul class="list nested-list">
              <li>
                <div class="item-title">{{ gettext("Offline Activity Title") }}</div>
                <div class="item-description">{{ gettext("Offline Activity Desc #1") | safe }}</div>
              </li>
              <li>
                <div class="item-title">{{ gettext("Offline Activity Title") }}</div>
                <div class="item-description">{{ gettext("Offline Activity Desc #2") | safe }}</div>
              </li>
              <li>
                <div class="item-title">{{ gettext("Offline Activity Title") }}</div>
                <div class="item-description">{{ gettext("Offline Activity Desc #3") | safe }}</div>
              </li>
              <li>
                <div class="item-title">{{ gettext("Offline Activity Title") }}</div>
                <div class="item-description">{{ gettext("Offline Activity Desc #4") | safe }}</div>
              </li>
              <li>
                <div class="item-title">{{ gettext("Offline Activity Title") }}</div>
                <div class="item-description">{{ gettext("Offline Activity Desc #5") | safe }}</div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
