{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "planning-your-event" %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-flag"></i>{{ gettext("Planning Your Event") }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block resourcesSideNav %}
{% endblock %}

{% block resourcesMain %}
  <!-- New section =================== -->
  <div class="section">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("") }}</h2>
        <h4>{{ gettext("") | safe }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("") }}</h2>
        <h4>{{ gettext("") | safe }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("") }}</h2>
        <h4>{{ gettext("") | safe }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("") }}</h2>
        <h4>{{ gettext("") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
          <li>
            <div class="item-title">{{ gettext("") }}</div>
            <div class="item-description">{{ gettext("") | safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
