{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "running-your-event" %}
{% set prevSection = true %}
{% set prevSectionLink = '/resources/planning-your-event' %}
{% set prevSectionTitle = 'Planning Your Event' %}
{% set nextSection = true %}
{% set nextSectionLink = '/resources/post-event' %}
{% set nextSectionTitle = 'Post-Event' %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-users"></i>{{ gettext("Running Your Event") }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block resourcesSideNav %}
{% endblock %}

{% block resourcesMain %}
{% endblock %}
