{% extends "views/layout.html" %}
{% set page = "resources" %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ gettext("Resources") }}</h1>
          <p class="lead">{{ gettext("Resources Banner Desc") }}</p>
          <a class="btn btn-banner btn-mp-green btn-lg" href="https://events.webmaker.org/">
            {{ gettext("Register Your Event") }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block mainContent %}
  <div class="big-section" id="event-guide">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="event-guide-tile">
            <a href="/{{localeInfo.lang}}/resources/getting-started">
              <div class="icon-link"><i class="fa fa-rocket"></i></div>
              <h3>{{ gettext("Choose Your Event Type") }}</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="event-guide-tile">
            <a href="/{{localeInfo.lang}}/resources/getting-started-resources">
              <div class="icon-link"><i class="fa fa-briefcase"></i></div>
              <h3>{{ gettext("Getting Started") }}</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="event-guide-tile">
            <a href="/{{localeInfo.lang}}/resources/planning-your-event" class="icon-link">
              <div class="icon-link"><i class="fa fa-flag"></i></div>
              <h3>{{ gettext("Planning Your Event") }}</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="event-guide-tile">
            <a href="/{{localeInfo.lang}}/resources/running-your-event" class="icon-link">
              <div class="icon-link"><i class="fa fa-users"></i></div>
              <h3>{{ gettext("Running Your Event") }}</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="event-guide-tile">
            <a href="/{{localeInfo.lang}}/resources/post-event" class="icon-link">
              <div class="icon-link"><i class="fa fa-archive"></i></div>
              <h3>{{ gettext("After Your Event") }}</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
        </div>
      </div>
    </div>
  </div>



  <div class="big-section graphics-section" id="downloadable-graphics">
    <div class="container">
      <!-- New Row ============= -->
      <div class="row">
        <div class="col-md-12">
          <h2>{{ gettext("Logos and Graphics") }}</h2>
          <p>{{ gettext("Logos and Graphics Desc") }}</p>
        </div>
      </div>
      <!-- New Row ============= -->
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Logo") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyLogo-thumb.png" alt="{{ gettext('Maker Party Asset Logo thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="/party-resources/MakerPartyLogo.eps" target="_blank"><i class="fa fa-download"></i>EPS</a>
            <a href="/party-resources/MakerPartyLogo.png" target="_blank"><i class="fa fa-download"></i>PNG</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Wordmark") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyWordmark-thumb.png" alt="{{ gettext('Maker Party Asset Wordmark thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="/party-resources/MakerPartyWordmark.eps" target="_blank"><i class="fa fa-download"></i>EPS</a>
            <a href="/party-resources/MakerPartyWordmark.png" target="_blank"><i class="fa fa-download"></i>PNG</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Brand Palette") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyBrandPalette-thumb.jpg" alt="{{ gettext('Maker Party Asset Brand Palette thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="/party-resources/MakerPartyBrandPalette.eps"><i class="fa fa-download"></i>EPS</a>
            <a href="/party-resources/MakerPartyBrandPalette.png" target="_blank"><i class="fa fa-download"></i>PNG</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Banner") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyBanner-thumb.png" alt="{{ gettext('Maker Party Asset Banner thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="/party-resources/MakerPartyBanner.eps" target="_blank"><i class="fa fa-download"></i>EPS</a>
            <a href="/party-resources/MakerPartyBanner.png" target="_blank"><i class="fa fa-download"></i>PNG</a>
          </div>
        </div>
      </div>
      <!-- New Row ============= -->
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Table Cloth Design") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyTableClothDesign-thumb.png" alt="{{ gettext('Maker Party Asset Table Cloth Design thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="/party-resources/MakerPartyTableClothDesign.eps" target="_blank"><i class="fa fa-download"></i>EPS</a>
            <a href="/party-resources/MakerPartyTableClothDesign.png" target="_blank"><i class="fa fa-download"></i>PNG</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Buttons") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyButtons-thumb.png" alt="{{ gettext('Maker Party Asset Buttons thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="/party-resources/MakerPartyButtons.eps" target="_blank"><i class="fa fa-download"></i>EPS</a>
            <a href="/party-resources/MakerPartyButtons.png" target="_blank"><i class="fa fa-download"></i>PNG</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Desktop Wallpapers") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyWallpaper-1-thumb.png" alt="{{ gettext('Maker Party Asset Desktop Wallpapers #1 thumbnail') }}" />
          </div>
          <div class="download-links full-width-links">
            <a href="/party-resources/MakerPartyWallpaper-1-320x480.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("320x480") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-1-640x1136.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("640x1136") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-1-768x1280.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("768x1280") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-1-1920x1200.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("1920x1200") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-1-2560x1440.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("2560x1440") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Desktop Wallpapers") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyWallpaper-2-thumb.png" alt="{{ gettext('Maker Party Asset Desktop Wallpapers #2 thumbnail') }}" />
          </div>
          <div class="download-links full-width-links">
            <a href="/party-resources/MakerPartyWallpaper-2-320x480.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("320x480") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-2-640x1136.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("640x1136") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-2-768x1280.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("768x1280") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-2-1920x1200.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("1920x1200") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-2-2560x1440.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("2560x1440") }}</a>
          </div>
        </div>
      </div>
      <!-- New Row ============= -->
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Desktop Wallpapers") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyWallpaper-3-thumb.png" alt="{{ gettext('Maker Party Asset Desktop Wallpapers #3 thumbnail') }}" />
          </div>
          <div class="download-links full-width-links">
            <a href="/party-resources/MakerPartyWallpaper-3-320x480.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("320x480") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-3-640x1136.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("640x1136") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-3-768x1280.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("768x1280") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-3-1920x1200.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("1920x1200") }}</a>
            <a href="/party-resources/MakerPartyWallpaper-3-2560x1440.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("2560x1440") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Printable Certificate") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyCertificateMake-thumb.png" alt="{{ gettext('Maker Party Asset Certificate Thimble Make thumbnail') }}" />
          </div>
          <div class="download-links">
            {% if localeInfo.lang == 'es-CL' or localeInfo.lang == 'es-MX' or localeInfo.lang == 'es' %}
            <a href="https://melissa.makes.org/thimble/LTE3MjgwNTI5OTI=/certificado-de-reconocimiento"  class="btn btn-primary" role="button">
            {% else %}
            <a href="https://makerparty2014.makes.org/thimble/LTEzNDM3NTAxNDQ=/maker-party-love-bomb"  class="btn btn-primary" role="button">
            {% endif %}
              <i class="fa fa-code-fork"></i>{{ gettext("Remix") }}
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Printable Flyer") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyFlyerMake-thumb.png" alt="{{ gettext('Maker Party Asset Flyer Thimble Make thumbnail') }}" />
          </div>
          <div class="download-links">
            <a href="https://makerparty2014.makes.org/thimble/LTc4OTMxNTU4NA==/maker-party-youre-invited" class="btn btn-primary" role="button">
              <i class="fa fa-code-fork"></i>{{ gettext("Remix") }}
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("KUMI Papertoy") }}</h4>
          <div class="preview">
            <img src="/party-resources/KUMI-Papertoy-blank-tees-thumb.png" alt="{{ gettext('KUMI Papertoy thumbnail') }}" />
          </div>
          <div class="download-links full-width-links">
            <a href="/party-resources/KUMI-Papertoy-yellow.pdf" target="_blank"><i class="fa fa-download"></i>{{ gettext("KUMI Yellow T-shirt") }}</a>
            <a href="/party-resources/KUMI-Papertoy-blue.pdf" target="_blank"><i class="fa fa-download"></i>{{ gettext("KUMI Teal T-shirt") }}</a>
            <a href="/party-resources/KUMI-Papertoy-blank-tees.pdf" target="_blank"><i class="fa fa-download"></i>{{ gettext("Design Your Own T-shirt") }}</a>
          </div>
        </div>
      </div>
      <!-- New Row ============= -->
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
          <h4>{{ gettext("Repeatable Patterns") }}</h4>
          <div class="preview">
            <img src="/party-resources/MakerPartyPatterns-thumb.png" alt="{{ gettext('thumbnail') }}" />
          </div>
          <div class="download-links full-width-links">
            <a href="/party-resources/MakerPartyPatterns-yellow.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("Yellow Pattern") }}</a>
            <a href="/party-resources/MakerPartyPatterns-teal.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("Teal Pattern") }}</a>
            <a href="/party-resources/MakerPartyPatterns-yellow-and-wordmark.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("Yellow Pattern with Wordmark") }}</a>
            <a href="/party-resources/MakerPartyPatterns-teal-and-wordmark.jpg" target="_blank"><i class="fa fa-download"></i>{{ gettext("Teal Pattern with Wordmark") }}</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 asset">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
