{% extends "views/layout-resources.html" %}
{% set page = "resources" %}
{% set resoucesSubpage = "post-event" %}
{% set prevSection = true %}
{% set prevSectionLink = '/resources/running-your-event' %}
{% set prevSectionTitle = 'Running Your Event' %}
{% set nextSection = false %}

{% block title %} Maker Party - Resources {% endblock %}

{% block banner %}
  <div class="banner jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><i class="fa fa-archive"></i>{{ gettext("After Your Event") }}</h1>
          <p>
            {{ gettext("After Your Event Desc") }}
          </p>
          <a class="btn btn-banner btn-mp-green btn-lg" href="https://mozteach.makes.org/thimble/what-i-made-maker-party">
            {{ gettext("Share what you made button text") }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block callout %}
{% endblock %}

{% block resourcesSideNav %}
  <li><a href="#Reflection">{{ gettext("Reflection Title") }}</a></li>
  <li><a href="#Feedback-for-Mozilla">{{ gettext("Feedback for Mozilla Title") }}</a></li>
  <li><a href="#Share-on-Social-Media">{{ gettext("Share on Social Media Title") }}</a></li>
  <li><a href="#Share-Your-Curriculum">{{ gettext("Share Your Curriculum Title") }}</a></li>
  <li><a href="#Thank-You">{{ gettext("Thank You Title") }}</a></li>
{% endblock %}

{% block resourcesMain %}
  <!-- New section =================== -->
  <div class="section" id="Reflection">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Reflection Title") }}</h2>
        <h4>{{ gettext("Reflection Desc #1") | safe }}</h4>
        <h4>{{ gettext("Reflection Desc #2") }}</h4>
        <ul>
          <li>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Feedback Forms to Event Attendees") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Feedback-for-Mozilla">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Feedback for Mozilla Title") }}</h2>
        <h4>{{ gettext("Feedback for Mozilla Desc") | safe }}</h4>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Share-on-Social-Media">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Share on Social Media Title") }}</h2>
        <h4>{{ gettext("Share on Social Media Desc") }}</h4>
        <ul>
          <li>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Blog Post Guidelines") | safe }}</li>
              <li>{{ gettext("Sample Popcorn Maker Event Recap") | safe }}</li>
              <li>{{ gettext("Event Reporter Template") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Share-Your-Curriculum">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Share Your Curriculum Title") }}</h2>
        <h4>{{ gettext("Share Your Curriculum Desc") }}</h4>
      </div>
    </div>
  </div>

  <!-- New section =================== -->
  <div class="section" id="Thank-You">
    <div class="row intro">
      <div class="col-md-12">
        <h2>{{ gettext("Thank You Title") }}</h2>
        <h4>{{ gettext("Thank You Desc") }}</h4>
      </div>
    </div>
    <div class="row details">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="item-title">{{ gettext("Thank You Title") }}</div>
            <div class="item-description">{{ gettext("Thank You Desc") | safe }}</div>
            <ul class="list nested-list">
              <li>{{ gettext("Sample Thank You Letters") | safe }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
